@import '../../style/themes/index';
@import '../../style/mixins/index';
@import '../../input/style/mixin';
@import './panel';

@picker-prefix-cls: ~'@{ant-prefix}-picker';

.@{picker-prefix-cls} {
  .reset-component;
  display: inline;

  // ======================== Input =========================
  &-input {
    position: relative;
    display: inline-block;

    > input {
      .input;
      width: auto;
    }

    &:hover {
      .@{picker-prefix-cls}-clear {
        opacity: 1;
      }
    }
  }

  &-large &-input > input {
    .input-lg;
  }

  &-small &-input > input {
    .input-sm;
  }

  &-suffix,
  &-clear {
    position: absolute;
    top: 50%;
    right: @input-padding-horizontal-base;
    transform: translateY(-50%);
    transition: opacity 0.3s;
  }

  &-suffix {
    pointer-events: none;
    color: @disabled-color;
  }

  &-clear {
    cursor: pointer;
    color: @disabled-color;
    opacity: 0;
    background: @component-background;
  }

  &-separator {
    display: inline-block;
    text-align: center;
    width: ceil(@font-size-base * 2.57);
    color: @disabled-color;
  }

  // ======================= Dropdown =======================
  &-dropdown {
    position: absolute;
    box-shadow: @box-shadow-base;

    &-hidden {
      display: none;
    }
  }
}
