@import './index';

.@{picker-prefix-cls} {
  @picker-cell-hover-color: fade(@primary-5, 10%);

  &-panel {
    background: @component-background;
    border-radius: @border-radius-base;
    border: @border-width-base @border-style-base @border-color-split;
    display: inline-block;
    text-align: center;

    &-focused {
      border-color: @primary-5;
    }
  }

  // ========================================================
  // =                     Shared Panel                     =
  // ========================================================
  &-decade-panel,
  &-year-panel,
  &-month-panel,
  &-week-panel,
  &-date-panel,
  &-time-panel {
    display: flex;
    flex-direction: column;
    min-width: 280px;

    // ======================= Header =======================
    &-header {
      display: flex;
      border-bottom: @border-width-base @border-style-base @border-color-split;
      padding: 0 @padding-xs;

      > * {
        flex: none;
      }

      button {
        border: 0;
        padding: 0;
        background: transparent;
        line-height: 40px;
        color: @disabled-color;
        cursor: pointer;
        transition: color 0.3s;
      }

      > button {
        min-width: 2em;
        font-size: @font-size-sm;

        &:hover {
          color: @text-color;
        }
      }

      &-view {
        flex: auto;
        font-weight: 500;
        line-height: 40px;

        button {
          color: @heading-color;

          &:not(:first-child) {
            margin-left: @padding-xs;
          }

          &:hover {
            color: @primary-color;
          }
        }
      }
    }

    // ======================== Body ========================

    &-content {
      border-collapse: collapse;
      width: 100%;

      th,
      td {
        font-weight: 400;
        min-width: 24px;
        position: relative;
      }

      th {
        height: 30px;
        line-height: 30px;
        color: @text-color;
      }
    }

    &-cell {
      cursor: pointer;
      color: @disabled-color;
      padding: 3px 0;

      // Default
      &-inner {
        display: inline-block;
        min-width: 24px;
        height: 24px;
        line-height: 24px - @border-width-base * 2;
        border-radius: @border-radius-base;
        transition: background 0.3s, border 0.3s;
        border: @border-width-base @border-style-base transparent;
      }

      &:hover &-inner {
        background: @picker-cell-hover-color;
      }

      // Today
      &-today &-inner {
        border-color: @primary-5;
      }

      // In view
      &-in-view {
        color: @text-color;
      }

      // In range
      &-in-range &-inner {
        display: block;
        background: @picker-cell-hover-color;
      }

      // Selected
      &-selected &-inner,
      &-selected:hover &-inner {
        color: @text-color-inverse;
        background: @primary-5;
      }

      // Disabled
      &-disabled {
        cursor: not-allowed;
      }

      &-disabled &-inner,
      &-disabled:hover &-inner {
        color: @disabled-color;
        background: @disabled-bg;
        display: block;
      }
    }
  }

  &-decade-panel,
  &-year-panel,
  &-month-panel {
    &-content {
      height: 265px;
    }

    &-cell-inner {
      padding: 0 @padding-xs;
    }
  }

  // ======================== Footer ========================
  &-footer {
    border-top: @border-width-base @border-style-base @border-color-split;
  }

  &-today-btn {
    line-height: 40px - 2 * @border-width-base;
    color: @link-color;

    &:hover {
      color: @link-hover-color;
    }

    &:active {
      color: @link-active-color;
    }
  }

  // ========================================================
  // =                       Special                        =
  // ========================================================

  // ====================== Year Panel ======================
  &-decade-panel {
    &-cell-inner {
      padding: 0 (@padding-xs / 2);
    }
  }

  // ====================== Week Panel ======================
  &-week-panel {
    &-body {
      padding: @padding-xs @padding-sm;
    }

    // Clear cell style
    &-cell {
      &:hover &-inner,
      &-selected &-inner,
      &-inner {
        background: transparent;
      }
    }

    //
    &-row {
      td {
        transition: background 0.3s;
      }

      &:hover td {
        background: @picker-cell-hover-color;
      }

      &-selected td,
      &-selected:hover td {
        background: @primary-5;

        &.@{picker-prefix-cls}-week-panel-cell-week {
          color: fade(@text-color-inverse, 50%);
        }

        &.@{picker-prefix-cls}-week-panel-cell-today .@{picker-prefix-cls}-week-panel-cell-inner {
          border-color: @text-color-inverse;
        }

        .@{picker-prefix-cls}-week-panel-cell-inner {
          color: @text-color-inverse;
        }
      }
    }
  }

  // ====================== Date Panel ======================
  &-date-panel {
    &-body {
      padding: @padding-xs @padding-sm;
    }

    &-content {
      th {
        width: 33px;
      }
    }
  }
}
