@import "../../input/style/mixin";
$picker-prefix-cls: "#{$ant-prefix}-picker";
@mixin picker-status-color(
  $text-color: $input-color,
  $border-color: $input-border-color,
  $background-color: $input-bg,
  $hoverBorderColor: $primary-color-hover,
  $outlineColor: $primary-color-outline
) {
  &.#{$picker-prefix-cls} {
    &,
    &:not([disabled]):hover {
      background-color: $background-color;
      border-color: $border-color;
    }
    &-focused,
    &:focus {
      @include active($text-color, $hoverBorderColor, $outlineColor);
    }
    .#{$picker-prefix-cls}-active-bar {
      background: $hoverBorderColor;
    }
  }
}
.#{$picker-prefix-cls} {
  &-status-error {
    @include picker-status-color(
      $error-color,
      $error-color,
      $input-bg,
      $error-color-hover,
      $error-color-outline
    );
  }
  &-status-warning {
    @include picker-status-color(
      $warning-color,
      $warning-color,
      $input-bg,
      $warning-color-hover,
      $warning-color-outline
    );
  }
}
