.@{calendar-prefix-cls}-time {
  // Change display order in DOM
  .@{calendar-prefix-cls}-input-wrap {
    direction: rtl;
    .@{calendar-prefix-cls}-date-input-wrap,
    .@{calendar-prefix-cls}-time-picker-wrap {
      direction: ltr;
      display: inline-block;
    }
    .@{timepicker-prefix-cls}-panel,
    .@{calendar-prefix-cls}-clear-btn {
      direction: ltr;
    }
    .@{calendar-prefix-cls}-time-picker-wrap {
      position: absolute;
      right: 0;
    }
  }
  .@{calendar-prefix-cls}-input,
  .@{timepicker-prefix-cls}-input {
    // .input;
  }
  .@{timepicker-prefix-cls}-input {
    display: none;
  }
  .@{calendar-prefix-cls}-input {
    padding-right: 21px;
  }
  .@{timepicker-prefix-cls}-panel {
    min-width: 168px;
  }
  .@{timepicker-prefix-cls}-icon {
    font-family: "anticon" !important;
    position: relative;
    content: "\E643";
    display: inline;
  }
}
