@import "../../style/themes/default";
@import "../../style/mixins/index";

@breadcrumb-prefix-cls: ~"@{ant-prefix}-breadcrumb";

.@{breadcrumb-prefix-cls} {
  .reset-component;

  .@{iconfont-css-prefix} {
    font-size: @font-size-sm;
  }

  a {
    color: @text-color;
    transition: color .3s;
    &:hover {
      color: @primary-5;
    }
  }

  & > span:last-child {
    font-weight: 500;
    color: @text-color;
  }

  & > span:last-child &-separator {
    display: none;
  }

  &-separator {
    margin: 0 @padding-xs;
    color: @text-color-secondary;
  }

  &-link {
    > .@{iconfont-css-prefix} + span {
      margin-left: 4px;
    }
  }
}
