.@{calendar-prefix-cls}-picker-container .@{calendar-prefix-cls} {
  &-hidden {
    display: none;
  }

  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 1070;
}

.@{calendar-prefix-cls}-picker {
  position: relative;
  display: inline-block;

  > input {
    outline: none;
  }

  &-icon {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    .transition(all .3s @ease-in-out);
    width: 12px;
    height: 12px;
    line-height: 12px;
    right: 8px;
    color: #999;
    top: 50%;
    margin-top: -6px;
    &:after {
      content: "\e60c";
      font-family: "anticon";
      font-size: 12px;
      color: #999;
      display: inline-block;
      line-height: 1;
      vertical-align: bottom;
    }
  }
  &-open .@{calendar-prefix-cls},
  &-container-open .@{calendar-prefix-cls} {
    display: block;
  }
  &-open &-input {
    .active();
  }
}
