.@{prefixCalendarClass}-picker .@{prefixCalendarClass},
.@{prefixCalendarClass}-picker-container .@{prefixCalendarClass} {
  position: absolute;
  display: none;
  left: -9999px;
  top: -9999px;
  z-index: 9;
}

.@{prefixCalendarClass}-picker {
  position: relative;
  display: inline-block;
  &-input {
    .ant-input;
  }
  &-icon {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    &:after {
      position: relative;
      left: -22px;
      font-family: "anticon";
      content: "\e60c";
      font-size: 14px;
      color: #999;
      top: 5px;
      margin-right: -20px;
    }
  }
  &-open .@{prefixCalendarClass},
  &-container-open .@{prefixCalendarClass} {
    display: block;
  }
  &-open &-input {
    border-color: #23c0fa;
    box-shadow: 0 0 3px #23c0fa;
  }
}
