.@{prefixCalendarClass}-picker .@{prefixCalendarClass}, .@{prefixCalendarClass}-picker-container .@{prefixCalendarClass} {
  position: absolute;
  display: none;
  left: -9999px;
  top: -9999px;
  z-index: 9;
}

.@{prefixCalendarClass}-picker {
  position: relative;

  &-open .@{prefixCalendarClass}, &-container-open .@{prefixCalendarClass} {
    display: block;
  }
}

.@{prefixCalendarClass}-picker {
  &-input {
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 32px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 0;
    padding: 7px 10px;
    border-radius: 6px 6px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    color: #666;
    line-height: 1.5;
    transform: border 0.3s cubic-bezier(0.35, 0, 0.25, 1), background 0.3s cubic-bezier(0.35, 0, 0.25, 1), box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    font-family: inherit;
    vertical-align: baseline;

    &:focus {
      border-color: #23c0fa;
      box-shadow: 0 0 3px #23c0fa;
    }

    &:hover {
      border-color: #23c0fa;
    }
  }

  &-icon {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;

    &:after {
      position: relative;
      left: -22px;
      font-family: "anticon";
      content: "\e60c";
      font-size: 14px;
      color: #999;
      top: 4px;
      margin-right: -20px;
    }
  }
}
