@import "../../mixins/input";

.@{calendar-prefix-cls}-time {
  .@{calendar-prefix-cls}-input,
  .@{timepicker-prefix-cls}-input {
    .input;
    height: 22px;
    width: 96px;
  }
  .@{timepicker-prefix-cls}-icon {
    display: none;
  }
  &-picker-wrap {
    position: absolute;
    left: 106px;
    top: 6px;
  }
}
