@import "../../mixins/input";

.@{prefixCalendarClass}-time {
  > span {
    margin: 0 2px;
  }
  ~ .@{prefixCalendarClass}-footer-btn {
    display: inline;
    text-align: left;
  }
}

.@{prefixCalendarClass}-time-input {
  .input;
  margin: 0;
  width: 30px;
  height: 26px;
  padding: 0;
  text-align: center;
}
