.@{calendar-prefix-cls}-time-panel {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  position: absolute;
  outline: none;
  border-radius: @border-radius-base;
}

.@{calendar-prefix-cls}-time-panel-header {
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  position: relative;
  text-align: center;
  user-select: none;
  border-bottom: 1px solid #e9e9e9;
}

.@{calendar-prefix-cls}-time-panel-body {
  padding: 2px 10px;
}

.@{calendar-prefix-cls}-time-panel-title {
  width: 180px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 5px;
  text-align: center;
  height: 30px;
  line-height: 22px;
  border-radius: 4px;
}

.@{calendar-prefix-cls}-time-panel-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}

.@{calendar-prefix-cls}-time-panel-cell {
  text-align: center;
  height: 40px;
  vertical-align: middle;
}

.@{calendar-prefix-cls}-time-panel-time {
  line-height: 24px;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  color: #666;
  transition: background 0.3s ease;

  &:hover {
    background: tint(@primary-color, 90%);
    cursor: pointer;
  }
}

.@{calendar-prefix-cls}-time-panel-selected-cell .@{calendar-prefix-cls}-time-panel-time {
  background: @primary-color;
  color: #fff;

  &:hover {
    background: @primary-color;
    color: #fff;
  }
}
