.fade-enter, .fade-appear {
  opacity: 0;
  .motion-common();
  animation-timing-function: linear;
  animation-play-state: paused;
}

.fade-leave {
  .motion-common();
  animation-timing-function: linear;
  animation-play-state: paused;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
  animation-name: antFadeIn;
  animation-play-state: running;
}

.fade-leave.fade-leave-active {
  animation-name: antFadeOut;
  animation-play-state: running;
}

@keyframes antFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes antFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
