html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",SimSun,sans-serif;
  line-height: 1.5;
  color: #666;
  font-size: 14px;
  background: #ECECEC;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: #2db7f5;
  text-decoration: none;
  transition: color .3s ease;
}

a:hover {
  color: #4DC4F0;
}

.clearfix:after {
  clear: both;
  display: table;
  content: '';
}

::selection {
  background: #2db7f5;
  color: #fff;
}
::-moz-selection {
  background: #2db7f5;
  color: #fff;
}

header {
  width: 100%;
  background: #fff;
  font-size: 16px;
  margin-bottom: 24px;
}

.fn-hide {
  display: none;
}

.fn-alpha-in {
  opacity: 1 !important;
}

.fn-alpha-out {
  opacity: 0 !important;
}

a.logo {
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 20px 0 20px 4%;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",sans-serif;
  color: #2db7f5;
  width: 219px;
}

.logo img {
  width: 40px;
  float: left;
  margin-right: 8px;
}

.search {
  float: left;
  height: 20px;
  padding: 0px 0 0 30px;
  margin: 30px auto 0;
  border-left: 1px solid #e9e9e9;
  position: relative;
}

#autoComplete {
  margin-top: -3px;
  width: 200px;
}

#autoComplete .ant-select {
  font-size: 14px;
}

#autoComplete .ant-select-selection--single {
  border: transparent;
  outline: none;
  width: 160px;
  height: 28px;
  line-height: 28px;
  color: #999;
  transition: padding .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 14px;
  box-shadow: none;
}

#autoComplete input::-webkit-input-placeholder,
#autoComplete input::-moz-placeholder,
#autoComplete input:-ms-input-placeholder {
  color: #CADCE3;
}

.autoComplete.ant-select-dropdown {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  font-size: 14px;
}

.autoComplete .ant-select-dropdown-menu {
  max-height: 200px;
}

.autoComplete .ant-select-dropdown-menu-item {
  border-radius: 0!important;
}

.autoComplete .ant-component-decs {
  font-size: 12px;
  position: absolute;
  top: 9px;
  color: #aaa;
  right: 16px;
}

.global-hint {
  color: #666;
  font-size: 12px;
  padding: 5px 14px 6px;
  margin-top: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 3px #ddd;
  opacity: 0.8;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.nav {
  height: 80px;
  line-height: 80px;
  float: right;
  font-size: 0.875em;
  position: relative;
  margin-right: 4%;
  overflow: hidden;
}

.nav ul li {
  float: left;
  text-align: center;
}

.nav ul li a {
  color: #666;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 22px;
}

a.nav-link-disabled {
  cursor: not-allowed;
  color: #ccc !important;
  pointer-events: none;
}

.nav ul li.current a {
  color: #2db7f5;
  font-weight: 600;
}

.nav ul li a:hover,
.nav ul li .hover {
  color: #2db7f5;
}

.nav .bar {
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #2db7f5;
  display: none;
  transition: left .3s cubic-bezier(0.075, 0.82, 0.165, 1), width 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-box {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.perspective {
  vertical-align: top;
  position: relative;
  perspective: 4000px;
  -webkit-perspective: 4000px;
}

.main {
  overflow: hidden;
  position: relative;
  height: calc(100% - 190px);
  min-height: 500px;
  transform-style: preserve-3d;
  transition: transform .6s cubic-bezier(0.785, 0.135, 0.15, 0.86), height .5s ease-out;
}

.banner-box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: inherit;
  -webkit-animation: alphaTo .3s ease-out;
  animation: alphaTo .3s ease-out;
}

.banner-box .banner-img {
  background: url("https://t.alipayobjects.com/images/T1CFtgXb0jXXXXXXXX.jpg") center no-repeat;
  height: 1300px;
  width: 2400px;
  transform-origin: center center;
  -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
}

.banner-box #bannerAnim,
.load-main-box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  z-index: 2;
    top:0;
    left:0;
}

.load-box {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  width: 140px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -40px;
  z-index: 99;
  animation: alphaTo .3s ease-out;
  -webkit-animation: alphaTo .3s ease-out;
  font-size: 22px;
  text-align: center;
  font-family: "Raleway","Helvetica Neue",Helvetica,"Lantinghei SC","Microsoft YaHei","微软雅黑","Hiragino Sans GB",SimSun,sans-serif;
}

.load-box em {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  animation: loadTween 2S cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  -webkit-animation: loadTween 2S cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;;
}
.load-box span {
  display: inline-block;
}
.load-box span > p {
  float: left;
}
.load-main-box .load-bar {
  width: 0%;
  height: 2px;
  background: #2db7f5;
  transition: width .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: width .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);;
}
.load-out {
  -webkit-animation: alphaOut .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation: alphaOut .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.banner-box #bannerAnim .banner-line-absolute {
  position: absolute;
}

footer {
  clear: both;
  border-top: 1px solid #eee;
  font-size: 12px;
  background: #fff;
  position: relative;
  z-index: 1;
  color: #666;
}

footer ul {
  overflow: hidden;
  margin: 0 2%;
}

footer ul li {
  float: left;
  width: 25%;
  padding: 5px 2% 15px;
}

footer ul li > h2 {
  font-size: 16px;
  margin: 10px auto 5px;
  font-weight: normal;
}

footer ul li > div {
  text-align: left;
  margin: auto;
  margin: 10px 0;
}

footer ul li > a {
  margin: 5px 2px 0 0;
}

.aside-container {
  width: 220px;
  padding-bottom: 50px;
  float: left;
  border-right: 1px solid #e9e9e9;
  margin-right: -1px;
}

.aside-container > ul > li {
  overflow: hidden;
  position: relative;
  right: -1px;
  z-index: 1;
}

.aside-container > ul > li > ul {
  margin-left: 16px;
}

.aside-container li h4 {
  font-size: 14px;
  font-weight: 600;
  padding: 0 0 0 24px;
  line-height: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  position: relative;
  background: #fff;
  border-right: 1px solid #e9e9e9;
}

.aside-container li h4:after {
  position: absolute;
  top: 0;
  right: 20px;
  content: "\e602";
  font-family: "anticon";
  transform: scale(0.6);
  font-size: 12px;
  opacity: 0;
  transition: all 0.3s ease;
}


.aside-container li[open=open] h4:after {
  -webkit-transform: scale(0.6) rotate(180deg);
  transform: scale(0.6) rotate(180deg);
}

.aside-container li:hover h4:after {
  opacity: 0.8;
}

.aside-container li > ul.aside-list-show {
  display: block;
}

.aside-container li a {
  line-height: 40px;
  height: 40px;
  display: block;
  padding-left: 24px;
  font-size: 14px;
  color: #666;
}

.aside-container li.type-divider {
  font-size: 12px;
  -webkit-transform:  scale(0.9);
  transform: scale(0.9);
  transform-origin: 0 50%;
  color: #aaa;
  margin: 6px 0 6px 24px;
}

.aside-container .chinese {
  font-size: 12px;
  margin-left: 6px;
  font-weight: normal;
  opacity: 0.67;
}

.aside-container li a:hover {
  color: #2db7f5;
}

.aside-container .current {
  border-right: 2px solid #2db7f5;
  color: #2db7f5;
}

.aside-container .current a {
  color: #2db7f5;
}

.main-wrapper {
  background: #fff;
  width: 92%;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  padding: 24px 0 0;
  margin-bottom: 24px;
  position: relative;
}

.main-container {
  border-left: 1px solid #e9e9e9;
  margin-left: 219px;
  padding: 0 40px 120px;
  background: #fff;
  min-height: 500px;
  overflow: hidden;
}

.markdown {
  color: #666;
  font-size: 14px;
  line-height: 1.8;
}

.highlight {
  line-height: 1.5;
}

.markdown img {
  vertical-align: middle;
  max-width: 100%;
}

.markdown h1 {
  color: #404040;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 24px;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: #404040;
  margin: 1.6em 0 0.6em 0;
  font-weight: 500;
  clear: both;
}

.markdown h1 { font-size: 28px; }
.markdown h2 { font-size: 22px; }
.markdown h3 { font-size: 18px; }
.markdown h4 { font-size: 16px; }
.markdown h5 { font-size: 14px; }
.markdown h6 { font-size: 12px; }

.markdown hr {
  height: 1px;
  border: 0;
  background: #e9e9e9;
  margin: 16px 0;
  clear: both;
}

.markdown p,
.markdown pre {
  margin: 1em 0;
}

.markdown > p,
.markdown > blockquote,
.markdown > .highlight,
.markdown > ol,
.markdown > ul {
  width: 80%;
}

.markdown ul > li {
  list-style: circle;
}

.markdown > ul li,
.markdown blockquote ul > li {
  margin-left: 20px;
  padding-left: 4px;
}

.markdown > ul li p,
.markdown > ol li p {
  margin: 0.6em 0;
}

.markdown ol > li {
  list-style: decimal;
}

.markdown > ol li,
.markdown blockquote ol > li {
  margin-left: 20px;
  padding-left: 4px;
}

.markdown code {
  margin: 0 3px;
}

.markdown pre {
  border-radius: 6px;
  background: #f9f9f9;
}

.markdown pre code {
  border: none;
  padding: 1em 2em;
  background: #f9f9f9;
  margin: 0;
}

.markdown strong,
.markdown b {
  font-weight: 600;
}

.markdown > table {
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 80%;
  margin-bottom: 24px;
}

.markdown > table th {
  white-space: nowrap;
  color: #5C6B77;
  font-weight: 600;
}

.markdown > table th,
.markdown > table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}

.markdown > table th {
  background: #F7F7F7;
}

.markdown blockquote {
  font-size: 90%;
  color: #999;
  border-left: 4px solid #e9e9e9;
  padding-left: 0.8em;
  margin: 1em 0;
}

.markdown blockquote p {
  margin: 0;
}

.markdown .anchor {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 8px;
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  opacity: 1;
  display: inline-block;
}

.markdown > br,
.markdown > p > br {
  clear: both;
}

#api ~ ul > li > p > strong ~ code {
  background: #fff;
  color: #CC7300;
  border: none;
  margin-left: 0.5em;
}

.prev-next-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  padding-left: 220px;
}

.prev-next-nav > .prev-page,
.prev-next-nav > .next-page {
  padding: 0 24px;
  width: 50%;
  float: left;
  line-height: 72px;
  height: 72px;
  border-top: 1px solid #e9e9e9;
}

.prev-next-nav > a.prev-page:before {
  font-family: 'anticon';
  content: '\e601';
  font-size: 12px;
  margin-right: 1em;
}

.prev-next-nav > .next-page {
  text-align: right;
  float: right;
}

.prev-next-nav > a.next-page:after {
  font-family: 'anticon';
  content: '\e600';
  font-size: 12px;
  margin-left: 1em;
}

.toc {
  font-size: 14px;
  margin-bottom: 20px;
  background: #fbfbfb;
  border-left: 2px solid #eee;
}

.toc > ul {
  padding: 8px 0;
}

.toc > ul li {
  list-style: none;
}

.toc li > ul {
  text-indent: 8px;
  font-size: 12px;
  display: none;
}

.toc a {
  padding-left: 16px;
  border-left: 2px solid #eee;
  margin-left: -2px;
  display: block;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
}

.toc a:hover {
  color: #2db7f5;
}

.toc a.current {
  border-color: #2db7f5;
  color: #2db7f5;
}

/* autocomplete */
.ui-select ul {
  outline: none;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
}

.ui-select-item {
  width: 156px;
  padding: 10px 12px;
  clear: both;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ui-select-item-hover {
  cursor: pointer;
  background-color: #eaf8fe;
}
/* autocomplete end */

/***************************************************************************/
.api-link {
  font-size: 16px;
  vertical-align: middle;
  margin-left: 15px;
  font-weight: normal;
}

.sketch-link {
  font-size: 14px;
  vertical-align: middle;
  font-weight: normal;
  float: right;
  margin-right: 15px;
  border: 1px solid #ddd;
  padding: 2px 15px;
  border-radius: 100px;
  color: #777;
}

.sketch-link i {
  margin-right: 5px;
}

.component-demos {
  margin: 2em 0 1em;
  color: #404040;
  font-weight: 500;
  font-size: 24px;
}

.component-demos .anticon-appstore {
  cursor: pointer;
  font-size: 14px;
  color: #9199AC;
  margin-left: 5px;
  opacity: 0.8;
  transition: all 0.3s ease;
  top: -2px;
  position: relative;
}

.component-demos .anticon-appstore:hover {
  opacity: 1;
}

.component-demos .anticon-appstore.expand {
  color: #3B4357;
}

.code-boxes-col-1-1 {
  width: 80%;
}

.code-boxes-col-2-1 {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding-right: 8px;
}

.code-boxes-col-2-1:last-child {
  padding-right: 0;
  padding-left: 8px;
}

.code-box {
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0px 0 16px 0px;
  transition: all 0.5s ease;
}

.code-box:hover {
  border-color: #ccc;
}

.code-box:target {
  border: 1px solid rgba(45, 183, 245, 0.7);
  box-shadow: 0 0 4px rgba(45, 183, 245, 0.5);
}

.code-box:hover .code-box-meta,
.code-box:target .code-box-meta {
  background: #fbfbfb;
}

.code-box:hover .code-box-title,
.code-box:target .code-box-title {
  background: #fbfbfb;
  box-shadow: 0 -1.2px 0 #e9e9e9;
}

.code-box .code-box-title a,
.code-box .code-box-title a:hover {
  color: #666;
}

.code-box .code-box-demo {
  border-bottom: 1px solid #E9E9E9;
  padding: 42px 20px 50px;
}

.code-box-meta {
  position: relative;
  padding: 10px 15px;
  border-radius: 0 0 6px 6px;
  transition: background-color 0.4s ease;
  width: 100%;
}

.code-box-meta h4,
.code-box-meta p {
  margin: 0;
}

.code-box-title {
  position: absolute;
  top: -14px;
  padding: 1px 1.1em;
  color: #777;
  border-radius: 6px;
  background: #fff;
  transition: all 0.4s ease;
}

.code-box-title:before {
  font-family: anticon;
  content: "\e658";
  font-size: 16px;
  vertical-align: middle;
  line-height: 22px;
  position: relative;
  margin-right: 8px;
  top: -2px;
  color: #ccc;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
}

.code-box-meta > p {
  font-size: 12px;
  margin: 0.5em 0;
  padding-right: 25px;
  width: 100%;
}

.code-box .collapse {
  position: absolute;
  right: 16px;
  bottom: 18px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  opacity: 0.5;
  text-align: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.3s ease;
  color: #999;
  background: #fff;
}

.code-box.expand .collapse {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.code-box .collapse:hover {
  opacity: 1;
}

.code-box .highlight {
  overflow: hidden;
  display: none;
  padding: 5px;
  border-top: 1px dashed #e9e9e9;
}

.code-box pre {
  margin: 0;
  width: auto;
}

.code-box pre code {
  border: none;
  background: #fff;
}

.banner-entry {
  position: absolute;
  top: 19%;
  left: 10%;
  z-index: 100;
  color: #707d8d;
  font-family: "Raleway","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",SimSun,sans-serif;
  font-weight: 300;
}

.entry-title {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 12px;
}

.entry-slogan {
  padding-left: 4px;
  font-size: 14px;
  color: #9ea9b4;
}

a.entry-link {
  margin-top: 30px;
  border: 1px solid rgba(95, 108, 119, 0.3);
  border-radius: 50px;
  color: #5F6C77;
  display: inline-block;
  text-align: center;
  padding: 8px 20px;
  transition: border 0.3s ease;
}

a.entry-link:hover {
  border-color: #5F6C77;
}

a.entry-link .anticon-smile {
  margin-right: 2px;
  display: inline-block;
  -webkit-animation: rotateCircleBack 0.6s 1 ease-in-out;
  animation: rotateCircleBack 0.6s 1 ease-in-out;
  line-height: 1;
  width: 16px;
}

a.entry-link:hover .anticon-smile {
  -webkit-animation: rotateCircle 0.6s 1 ease-in-out;
  animation: rotateCircle 0.6s 1 ease-in-out;
}

.entry-version {
  font-size: 12px;
  margin-top: 15px;
  position: absolute;
  top: 36px;
  right: -32px;
}

#instantclick {
  top: 80px!important;
  position: absolute!important;
}

#instantclick-bar {
  background: #2db7f5;
}

#versions-select {
  position: relative;
  top: -2px;
}

.window-frame {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1;
}

.window-frame .top-bar {
  background: #DCD9DC;
  background-image: -webkit-linear-gradient(#F6F6F6, #dadada);
  background-image: linear-gradient(#F6F6F6, #dadada);
  min-height: 2rem;
  border-radius: 0.35rem 0.35rem 0 0;
  padding: 0.41528rem 0.83056rem;
  border-bottom: 1px solid transparent;
  border-bottom-color: #ccc;
  color: rgba(0, 0, 0, 0.5);
}

.window-frame .top-bar .address-bar {
  border-radius: 0.245rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: black;
  box-shadow: 0 0.5px 0 0 rgba(255, 255, 255, 0.75), inset 0 1px 1px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 0 0.5em 0 1em;
  font-size: 0.75rem;
  line-height: 2;
  background: white;
  width: 60%;
  margin-left: 15%;
}

.window-frame .top-bar .controls {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 0.2em;
}
.window-frame .top-bar .controls > * {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
  margin-right: 0.41528rem;
  -webkit-transition: 0.1s linear;
          transition: 0.1s linear;
}
.window-frame .top-bar .control {
  width: 0.83056rem;
  height: 0.83056rem;
  background: #DCD9DC;
  border-radius: 0.83056rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.window-frame .top-bar .control:hover {
  background: #b0adb0;
}
.window-frame .top-bar .control:before,
.window-frame .top-bar .control:after {
  line-height: 0.5;
  color: black;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
  line-height: 0.5;
}
.window-frame .top-bar .control.close {
  background: #FC625C;
}
.window-frame .top-bar .control.minify {
  background: #FDC041;
}
.window-frame .top-bar .control.expand {
  background: #35CD4B;
}
.window-frame .window-content {
  padding: 0;
  line-height: 1.5;
  overflow: auto;
  height: 440px;
  position: relative;
  border-radius: 0 0 5px 5px;
  background: #ececec;
}

.window-frame .status-bar {
  height: 2rem;
  border-radius: 0 0 0.35rem 0.35rem;
  display: none;
}

.demos-anchor {
  color: #aaa;
  position: absolute;
  margin-right: 24px;
  top: 24px;
  right: 0;
  z-index: 100;
  background: #fff;
  font-size: 12px;
}

.demos-anchor a {
  padding-left: 8px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90px;
}

.demos-anchor.toc.sticky {
  position: fixed;
  top: 0;
  right: 4%;
  margin-right: 24px;
  z-index: 100;
}

.preview-image-boxes {
  float: right;
  margin: 0 0 110px 60px;
  width: 616px;
}

.preview-image-boxes + .preview-image-boxes {
  margin-top: -75px;
}

.preview-image-box {
  width: 100%;
  float: left;
  padding: 0 8px;
}

.preview-image-wrapper {
  background: #f4f4f4;
  padding: 16px;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
}

.preview-image-wrapper.good:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #2db7f5;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.preview-image-wrapper.bad:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #f50;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.preview-image-title {
  font-size: 12px;
  margin-top: 5px;
  color: #666;
}

.preview-image-description {
  font-size: 12px;
  margin-top: 2px;
  color: #999;
  line-height: 1.5;
}

.preview-image-description hr {
  margin: 2px 0;
  border: 0;
  background: none;
}

.preview-image-box img {
  cursor: pointer;
  max-width: 100%;
  transition: all 0.3s ease;
  background: #fff;
  padding: 12px;
  border-radius: 6px;
}

.preview-image-boxes.pack img {
  padding: 0;
  box-shadow: 0 1px 0 0 #ddd, 0 3px 0 0 #fff, 0 4px 0 0 #ddd, 0 6px 0 0 #fff,  0 7px 0 0 #ddd;
}

.preview-image-box img:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.outside-link:after {
  content: '\e669';
  font-family: 'anticon';
  margin-left: 5px;
  font-size: 12px;
}

.image-modal {
  text-align: center;
}

.image-modal-container {
  position: relative;
  text-align: center;
}

.image-modal .ant-modal-header {
  display: none;
}

.image-modal .ant-carousel .slick-slider {
  padding-bottom: 24px;
}

.image-modal .ant-carousel .slick-dots {
  text-align: left;
  bottom: -6px;
}

.image-modal .ant-carousel .slick-dots li {
  margin: 0;
}

.image-modal .preview-image-title {
  position: absolute;
  bottom: 12px;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);;
}

.image-modal .slick-prev {
  left: 0;
  height: 100%;
  top: 0;
  margin-top: 0;
  width: 50%;
  text-align: left;
}

.image-modal .slick-prev:after {
  content: "\e601";
  font-size: 28px;
  font-family: "anticon";
  color: #000;
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  top: 220px;
  right: 24px;
}

.image-modal .slick-prev:hover:after {
  opacity: 0.38;
}

.image-modal .slick-next {
  right: 0;
  height: 100%;
  top: 0;
  margin-top: 0;
  width: 50%;
  text-align: right;
}

.image-modal .slick-next:after {
  content: "\e600";
  font-size: 28px;
  font-family: "anticon";
  color: #000;
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  top: 220px;
  right: 24px;
}

.image-modal .slick-next:hover:after {
  opacity: 0.38;
}

.image-modal .outside-link {
  position: absolute;
  right: 16px;
  bottom: 12px;
}

.image-modal .ant-carousel .slick-slide img {
  max-width: 100%;
  display: inline-block;
}

.resource-cards {
  width: 100%;
}

.resource-card {
  max-width: 350px;
  width: 40%;
  min-width: 300px;;
  height: 130px;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  font-size: 12px;
  color: #777;
  display: inline-block;
  margin: 20px 40px 10px 0;
  vertical-align: middle;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.resource-card:hover {
  box-shadow: 0 1px 4px rgba(64,64,64,.2);
}

.resource-card:hover .resource-card-title {
  color: #2db7f5;
}

.resource-card.disabled {
  opacity: 0.45;
  pointer-events: none;
}

.resource-card img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  margin: 0 20px 0 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.resource-card-content {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 92px;
}

.resource-card-title {
  display: block;
  font-size: 16px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  margin-bottom: 8px;
}

.resource-card-description {
  display: block;
  color: #999;
  padding-right: 8px;
}


/* responsive style */
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .code-boxes-col-2-1 {
    float: none;
    width: 100%;
  }
  .search {
    display: none;
  }
  .preview-image-boxes {
    margin: 0!important;
    float: none;
    width: 100%;
  }

  .preview-image-box {
    padding-left: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .nav, .search {
    display: none;
  }

  .logo {
    margin: 10px;
    height: auto;
  }

  .banner-entry {
    position: relative;
    top: 30px;
    left: 0;
    text-align: center;
  }

  .nav {
    position: absolute;
    z-index: 1000;
    top: 50px;
    right: 0;
    background: #fff;
    overflow: hidden;
    height: auto;
    line-height: 50px;
    margin-right: 0;
    border: 1px solid #e9e9e9;
    width: 50%;
  }

  .nav .bar {
    display: none!important;
  }

  .nav ul li {
    width: 100%;
  }

  .toc {
    display: none;
  }

  .nav-phone-icon {
    display: block;
    width: 49px;
    height: 49px;
    float: right;
    cursor: pointer;
    background: #BEC4C8;
  }

  .nav-phone-icon:before,
  .nav-phone-icon:after {
    content: "";
    display: block;
    border-radius: 1px;
    width: 15px;
    height: 2px;
    background: #EBEDEE;
    margin: 20px 0 0 18px;
  }

  .nav-phone-icon:after {
    margin-top: 5px;
  }

  .main {
    height: calc(100% - 86px);
  }

  .aside-container {
    float: none;
    width: auto;
  }

  .main-container {
    margin-left: 0;
  }

  .markdown {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer ul li {
    float: none;
    width: auto;
  }
}
