@import "../../style/themes/default";

.@{ant-prefix} {
  &-anchor {
    position: relative;
    &-wrapper {
      padding: 6px;
      background-color: white;
    }

    &-ink {
      position: absolute;
      width: 9px;
      height: 100%;
      left: 0;
      top: 0;
      &:before {
        content: ' ';
        position: relative;
        width: 2px;
        height: 100%;
        display: block;
        background-color: @border-color-split;
        margin: 0 auto;
      }
      &-ball {
        display: none;
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 9px;
        border: 3px solid @primary-color;
        background-color: white;
        transition: top .3s ease-in-out;
        left: 50%;
        transform: translateX(-50%);
        &.visible {
          display: inline-block;
        }
      }
    }

    &.fixed &-ink &-ink-ball {
      display: none;
    }
  }

  &-anchor-link {
    padding: 4px 0 4px 16px;
    line-height: 1;

    &-title {
      display: block;
      position: relative;
      transition: all .3s;
      color: @text-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-active > &-title {
      color: @primary-color;
    }

    & > & {
      font-size: @font-size-base;
    }
  }
}
