@import "../../style/themes/default";

.@{ant-prefix}{
  &-anchor {
    background-color: white;
    padding: 6px;
    &-link {
      &:hover, &-active {
        color: @primary-color;
      }
    }
  }
}

