{
  "rules": {
    "indent": [
      2,
      2,
      { "SwitchCase": 1 }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "react/react-in-jsx-scope": 1,
    "react/jsx-uses-react": 1
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "plugins": [
    "react"
  ]
}
