{
  "extends": ["eslint-config-airbnb"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "markdown-antd",
    "react",
    "babel"
  ],
  "rules": {
    "constructor-super": 2,
    "comma-dangle": 0,
    "func-names": 0,
    "guard-for-in": 0,
    "one-var": [2, { "initialized": "never" }],
    "prefer-const": 0,
    "key-spacing": 0,
    "no-eq-null": 0,
    "no-else-return": 0,
    "no-param-reassign": 0,
    "no-this-before-super": 2,
    "no-undef": 2,
    "babel/object-shorthand": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/sort-comp": 0,
    "react/wrap-multilines": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "space-after-keywords": 0,
    "space-before-blocks": 0,
    "space-before-function-paren": 0,
    "spaced-comment": 0,
    "vars-on-top": 0,
    "id-length": 0
  }
}
