*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
dist
**/*.md
docs
node_modules
theme
static
site
dist
*.yml
CNAME
/components
nico.js
deploy.js
scripts
