<h2 class="component-demos">
  组件演示
  <i class="iconfont-home icon-all" title="展开全部代码"></i>
  {%- if post.meta.sketch %}
  <a class="sketch-link" href="{{ post.meta.sketch }}" target="_blank">
    <i class="iconfont-home icon-download"></i>
    Sketch 下载
  </a>
  {%- endif %}
</h2>
<div class="code-boxes clearfix">
  {%- set items = resource.pages|find_demo_in_component(post.meta.directory) %}
  <div class="code-boxes-col">
    {%- for item in items|odd %}
    {%- set post = item.meta.filepath|parsePost %}
    {%- include "code.html" %}
    {%- endfor %}
  </div>
  <div class="code-boxes-col">
    {%- for item in items|even %}
    {%- set post = item.meta.filepath|parsePost %}
    {%- include "code.html" %}
    {%- endfor %}
  </div>
</div>
