<footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="{{ config.site.repo }}">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/style">样式库</a>
      <a target="_blank" href="https://github.com/react-component/generator-rc">脚手架</a>
      <a target="_blank" href="http://react-component.github.io/badgeboard/">模块</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="http://www.atatech.org/teams/79">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="{{ config.site.issues }}">问题与建议 - Issues</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
    </li>
  </ul>
</footer>
