<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>Ant Design</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
  <script src="/static/script.js"></script>
</head>
<body>
  <header id="header">
    <a class="logo" href="/">
      <img src="https://t.alipayobjects.com/images/T1.lRfXcxoXXXXXXXX.png">
    </a>
    <div class="search">
      <form>
        <input type="text" placeholder="search">
        <button type="submit"></button>
      </form>
    </div>
    <nav class="nav">
      <span class="bar"></span>
      <ul>
        <li><a href="/">首页</a>
        </li>
        <li><a href="/docs/instruction">原则</a>
        </li>
        <li><a href="/docs/components">组件</a>
        </li>
        <li><a href="/docs/modes">模式</a>
        </li>
        <li><a href="/docs/cases">案例</a>
        </li>
        <li><a href="/docs/download">下载</a>
        </li>
      </ul>
    </nav>
    <div class="nav-phone-icon"></div>
  </header>
  {%- if post.filename === 'index' %}
  <div class="main">
    <div class="main-box" id="main">
      <div class="banner-box">
        <div id="bannerAnim"></div>
        <div class="banner-img"></div>
        <div class="banner-text"></div>
      </div>
    </div>
  </div>
  <script src="/static/home.js"></script>
  {%- else %}
  <article class="markdown">
    <h1>{{ post.title }}</h1>
    {{ post.html }}
  </article>
  {%- endif %}
  <footer id="footer">
    <ul>
      <li>
        <h2>Ｇitlab仓库</h2>
        <a href="">脚手架 - Flaming Water</a>
        <a href="">组件 - Flaming Cloud Component</a>
      </li>
      <li>
        <h2>关于我们</h2>
        <a href="">博客 - Ant UED</a>
      </li>
      <li>
        <h2>联系我们</h2>
        <a href="">问题建议 - Issues</a>
      </li>
      <li>
        <h3>© 2015 蚂蚁金服体验技术部出品</h3>
      </li>
    </ul>
  </footer>
</body>
</html>
