<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>Ant Design</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header id="header">
    <a class="logo" href="/"><img src="https://t.alipayobjects.com/images/T1.lRfXcxoXXXXXXXX.png" width="100%" height="100%" />
    </a>
    <div class="search">
      <form>
        <input type="text" placeholder="search">
        <button type="submit"></button>
      </form>
    </div>
    <nav class="nav">
      <span class="bar"></span>
      <ul>
        <li><a href="/">首页</a>
        </li>
        <li><a href="principle/">原则</a>
        </li>
        <li><a href="comp/">组件</a>
        </li>
        <li><a href="mode/">模式</a>
        </li>
        <li><a href="case/">案例</a>
        </li>
        <li><a href="down/">下载</a>
        </li>
      </ul>
    </nav>
    <div class="nav-phone-icon"></div>
  </header>

  {%- block main %}{% endblock -%}

  <footer id="footer">
    <ul>
      <li>
        <h2>Ｇitlab仓库</h2>
        <a href="">脚手架 - Flaming Water</a>
        <a href="">组件 - Flaming Cloud Component</a>
      </li>
      <li>
        <h2>关于我们</h2>
        <a href="">博客 - Ant UED</a>
      </li>
      <li>
        <h2>联系我们</h2>
        <a href="">问题建议 - lssuse</a>
      </li>
      <li>
        <h3>© 2015 体验技术部-企业平台组出品</h3>
      </li>
    </ul>
    <h3>© 2015 体验技术部-企业平台组出品</h3>
  </footer>
</body>
</html>
