@import '../../../static/theme.less';
@import (reference) '../../../../../components/style/themes/index.less';
@import './index.less';

#logo {
  height: @header-height;
  padding-left: 40px;
  overflow: hidden;
  color: @site-heading-color;
  font-weight: bold;
  font-size: 18px;
  font-family: PuHuiTi, @font-family, sans-serif;
  line-height: @header-height;
  letter-spacing: -0.18px;
  white-space: nowrap;
  text-decoration: none;

  .ant-row-rtl & {
    float: right;
    padding-right: 40px;
    padding-left: 0;
  }

  img {
    height: 32px;
    margin-right: 12px;

    .ant-row-rtl & {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}

@media only screen and (max-width: @mobile-max-width) {
  #logo {
    padding-right: 0;
    padding-left: 0;
  }
}
