// input and label CSS
.ant-input,
.ant-input-affix-wrapper {
  padding: @medium-input;
  font-size: @font-size-base;
  border: 1px solid @dg700;
  border-radius: 4px;
}

.ant-input {
  &.ant-input-lg {
    padding: @large-input;
  }
}

.ant-form-item-label > label {
  height: auto;
  margin-bottom: 8px;
  color: @base-font-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.ant-form-item-with-help {
  .ant-form-item-explain,
  .ant-form-item-extra {
    height: auto;
    min-height: auto;
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
  }
}

.ant-form-item-explain-error {
  color: #ef4444;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  margin-right: 2px;
  color: @r300;
  font-weight: bold;
}

// select

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 34px;
  border: 1px solid @dg700;
  border-radius: 4px;
}

// checkbox CSS
.ant-checkbox-checked {
  .ant-checkbox-inner {
    background-color: @primary-color;
    border-color: @primary-color;
  }

  &:after {
    border-color: @primary-color;
    border-radius: 4px;
  }
}

.ant-checkbox-inner {
  border: 1px solid @dg700;
  border-radius: 4px;

  &:after {
    margin-top: -1px;
  }
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: @primary-color;
}

.ant-checkbox-indeterminate {
  .ant-checkbox-inner {
    &:after {
      background-color: @primary-color;
      border-radius: 2px;
    }
  }
}

// checkbox tree CSS

.ant-select-tree-checkbox-checked {
  .ant-select-tree-checkbox-inner {
    background-color: @primary-color;
    border-color: @primary-color;
  }

  &:after {
    border-color: @primary-color;
    border-radius: 4px;
  }
}

.ant-select-tree-checkbox-indeterminate {
  .ant-select-tree-checkbox-inner {
    &:after {
      margin-top: 0;
      background-color: @primary-color;
      border-radius: 2px;
    }
  }
}

.ant-select-tree-checkbox-inner {
  border: 1px solid #d1d5db;
  border-radius: 4px;

  &:after {
    margin-top: -1px;
  }
}

.ant-select-tree-checkbox-wrapper:hover .ant-select-tree-checkbox-inner,
.ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner,
.ant-select-tree-checkbox-input:focus + .ant-select-tree-checkbox-inner {
  border-color: @primary-color;
}

// Button CSS
.ant-btn {
  height: auto;
  padding: 6px 12px;
  color: @dg300;
  font-weight: 500;
  font-size: @font-size-base;
  line-height: 18px;
  background-color: @white;
  border: 1px solid @dg700;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(6, 25, 56, 0.05);

  &:hover {
    color: @dg300;
    background-color: @dg700;
    border-color: @dg700;
  }

  &.ant-btn-primary {
    color: @white;
    background-color: @primary-color;
    border-color: @primary-color;

    &:hover {
      color: @dg300;
      background-color: transparent;
    }
  }

  &.ant-btn-lg {
    height: auto;
    padding: 9px 12px;
    font-size: 16px;
    line-height: 20px;
  }

  &.ant-btn-icon-only {
    width: 26px;
    height: 26px;
    padding: 1px;
    &.onlyIcon {
      width: auto;
      height: auto;
      padding: 0;
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }

  + .ant-btn {
    margin-left: 12px;
  }

  &.ant-btn-link {
    padding: 0;
    color: @primary-color;
    background: transparent;
    border: none;
    box-shadow: none;

    &:hover {
      color: @b200;
    }
  }
}

// dropdown CSS

.ant-dropdown-menu,
.table-dropdown .ant-menu {
  padding: 8px 0;
  background: @white;
  border: 1px solid @dg700;
  border-radius: 8px;
  box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
}

.ant-dropdown-menu-item {
  padding: 7px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    color: @primary-color;
    background: @b900;
  }
}

.ant-menu-vertical {
  > .ant-menu-item {
    height: auto;
    padding: 7px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    &:hover {
      color: @primary-color;
      background: @b900;
    }

    .ant-btn {
      padding: 0;
      background-color: transparent;
    }
  }
}

.input-text {
  label,
  p {
    display: block;
    margin-bottom: 8px;
    color: @base-font-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  span {
    display: block;
    padding: 8px 16px;
    border: 1px solid @dg700;
    border-radius: 4px;
  }
}

// select deopdown CSS

.ant-select-dropdown {
  padding: 12px 12px;
  background: @white;
  border: 1px solid @dg700;
  border-radius: 4px;
  box-shadow: 0px 14px 21px -1px rgba(6, 25, 56, 0.08);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: @b400;
  font-weight: normal;
  background: #eef2ff;
}

.table-dropdown {
  width: 120px;

  .ant-btn {
    width: 100%;
    text-align: left;
    border: none;
    box-shadow: none;
  }
}

.ant-select-multiple .ant-select-selection-item {
  height: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  background: #f3f4f6;
  border-radius: 4px;
}

.ant-switch-checked {
  background: @primary-color;
}

.input-label-text {
  display: block;
  margin-top: 8px;
  color: @base-font-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

div.ant-typography {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  word-break: break-all;
  background: #f4f7fa;
  border: 2px dashed @dg700;
  border-radius: 4px;
  .ant-typography-copy {
    margin-left: 20px;
  }
}

// Password strength

.strength {
  text-align: right;

  > div {
    justify-content: flex-end;
  }

  &.weak {
    > div {
      .strength-length {
        &:first-child {
          background: @r500;
        }
      }
    }

    .strength-word {
      color: @r500;
    }
  }

  &.fair {
    > div {
      .strength-length {
        &:first-child,
        &:nth-child(2) {
          background: @y500;
        }
      }
    }

    .strength-word {
      color: @y500;
    }
  }

  &.good {
    > div {
      .strength-length {
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          background: @g500;
        }
      }
    }

    .strength-word {
      color: @g500;
    }
  }

  &.strong {
    > div {
      .strength-length {
        background: @g500;
      }
    }

    .strength-word {
      color: @g500;
    }
  }
}

.strength-length {
  width: 40px;
  height: 4px;
  margin: 8px 0 8px 8px;
  background: #e5e7eb;
  border-radius: 37px;
}

.strength-word {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.custom-input {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: 300px;
  }

  .custom-text {
    width: calc(100% - 300px);
    text-align: right;
  }
}

.custom-label-input {
  .ant-form-item {
    margin-bottom: 0;
  }
  + .custom-label-input {
    margin-top: 24px;
  }
}

.resend-code {
  display: flex;
  margin-top: -10px;
  margin-bottom: 26px;
}

.two-col-input {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  > div {
    width: 49%;
  }
}
