@import './index.less';

@picker-prefix-cls: ~'@{ant-prefix}-picker';
@slider-prefix-cls: ~'@{ant-prefix}-slider';
@anchor-prefix-cls: ~'@{ant-prefix}-anchor';
@collapse-prefix-cls: ~'@{ant-prefix}-collapse';
@tab-prefix-cls: ~'@{ant-prefix}-tabs';
@timeline-prefix-cls: ~'@{ant-prefix}-timeline';
@tree-prefix-cls: ~'@{ant-prefix}-tree';
@card-prefix-cls: ~'@{ant-prefix}-card';
@badge-prefix-cls: ~'@{ant-prefix}-badge';
@transfer-prefix-cls: ~'@{ant-prefix}-transfer';
@calendar-prefix-cls: ~'@{ant-prefix}-picker-calendar';
@calendar-picker-prefix-cls: ~'@{ant-prefix}-picker';
@table-prefix-cls: ~'@{ant-prefix}-table';

.@{dialog-prefix-cls} {
  .@{picker-prefix-cls}-clear, .@{slider-prefix-cls}-handle, .@{anchor-prefix-cls}-wrapper, .@{collapse-prefix-cls}-content, .@{timeline-prefix-cls}-item-head, .@{card-prefix-cls} {
    & when (@theme = dark) {
      background-color: @popover-background;
    }
  }

  .@{transfer-prefix-cls} {
    &-list {
      &-header {
        & when (@theme = dark) {
          background: @popover-background;
          border-bottom: @border-width-base @border-style-base @popover-customize-border-color;
        }
      }
      &-content-item:not(.@{transfer-prefix-cls}-list-content-item-disabled):hover {
        & when (@theme = dark) {
          background-color: @item-hover-bg;
        }
      }
    }
  }

  .@{table-prefix-cls} {
    background-color: @popover-background;
    thead {
      > tr {
        > th {
          border-bottom: @border-width-base @border-style-base @popover-customize-border-color;
          background-color: #272727;
        }
      }
    }
  }

  .@{calendar-prefix-cls}-full {
    & when (@theme = dark) {
      background-color: @popover-background;
    }
    .@{calendar-picker-prefix-cls}-panel {
      & when (@theme = dark) {
        background-color: @popover-background;
      }
      .@{calendar-prefix-cls}-date {
        & when (@theme = dark) {
          border-top: 2px solid @popover-customize-border-color;
        }
      }
    }
  }

  .@{tab-prefix-cls} {
    &.@{tab-prefix-cls}-card .@{tab-prefix-cls}-card-bar .@{tab-prefix-cls}-tab-active {
      & when (@theme = dark) {
        background-color: @popover-background;
        border-bottom: @border-width-base solid @popover-background;
      }
    }
  }

  .@{badge-prefix-cls} {
    &-count {
      & when (@theme = dark) {
        box-shadow: 0 0 0 1px @popover-background;
      }
    }
  }

  .@{tree-prefix-cls} {
    &-show-line {
      .@{tree-prefix-cls}-switcher {
        & when (@theme = dark) {
          background: @popover-background;
        }
      }
    }
  }
}
