@import "../../style/themes/index";
@import "../../style/mixins/index";
@import "./modal";
@import "./confirm";
@import "./rtl";
@include popover-customize-bg($dialog-prefix-cls, $popover-background);
