html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
  line-height: 1.5;
  color: #666;
  font-size: 14px;
  background: #ECECEC;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-x: hidden;
}

a {
  transition: color .3s ease;
}

.main-wrapper {
  background: #fff;
  width: 92%;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  padding: 24px 0 0;
  margin-bottom: 24px;
  position: relative;
}

.main-container {
  padding: 0 8% 120px 4%;
  margin-left: -1px;
  background: #fff;
  min-height: 500px;
  overflow: hidden;
  border-left: 1px solid #e9e9e9;
  position: relative;
}

.aside-container {
  padding-bottom: 50px;

  &.ant-menu-inline .ant-menu-submenu-title h4,
  &.ant-menu-inline > .ant-menu-item,
  &.ant-menu-inline .ant-menu-item a {
    font-size: 14px;
  }

  a[disabled] {
    color: #ccc;
  }
}

.aside-container .chinese {
  font-size: 12px;
  margin-left: 6px;
  font-weight: normal;
  opacity: .67;
}

.outside-link:after {
  content: '\E669';
  font-family: 'anticon';
  margin-left: 5px;
  font-size: 12px;
}

.outside-link.internal {
  display: none;
}

.ant-site-loading {
  height: 100vh;
  width: 100vw;
  background: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  img {
    animation: siteLoadingCircle 2s ease-in-out infinite;
    transform-origin: 50% 50%;
    margin-top: -50px;
  }
  div {
    font-family: lato;
    color: #777;
    font-size: 16px;
    letter-spacing: 2px;
  }
}

@keyframes siteLoadingCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
