.main-wrapper {
  background: #fff;
  width: 92%;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  padding: 24px 0 0;
  margin-bottom: 24px;
  position: relative;
}

.main-container {
  padding: 0 40px 120px;
  background: #fff;
  min-height: 500px;
  overflow: hidden;
}

.sidebar {
  padding-bottom: 50px;

  a[disabled] {
    color: #ccc;
  }
}

.sidebar .chinese {
  font-size: 12px;
  margin-left: 6px;
  font-weight: normal;
  opacity: .67;
}