footer {
  clear: both;
  border-top: 1px solid #eee;
  font-size: 12px;
  background: #fff;
  position: relative;
  z-index: 1;
  color: #666;
  box-shadow: 0 1000px 0 1000px #fff;
}

footer ul {
  overflow: hidden;
  margin: 0 2%;
}

footer ul li {
  float: left;
  width: 25%;
  padding: 5px 2% 15px;
}

footer ul li > h2 {
  font-size: 16px;
  margin: 10px auto 5px;
  font-weight: normal;
}

footer ul li > div {
  margin: auto;
  margin: 10px 0;
}

footer ul li > a {
  margin: 5px 8px 0 0;
}
