@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "../../input/style/mixin";

@timepicker-prefix-cls: ant-time-picker;

.@{timepicker-prefix-cls}-panel {
  max-width: 168px;
  z-index: @zindex-picker;
  position: absolute;

  &-inner {
    display: inline-block;
    position: relative;
    outline: none;
    border: 1px solid @border-color-base;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-radius: @border-radius-base;
    box-shadow: @box-shadow-base;
    background-clip: padding-box;
    border: 1px solid #ccc;
    line-height: 1.5;
    overflow: hidden;
  }

  &-input {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    cursor: auto;
    line-height: 1.5;
    outline: 0;

    &-wrap {
      box-sizing: border-box;
      position: relative;
      padding: 6px;
      border-bottom: 1px solid @border-color-split;
    }

    &-invalid {
      border-color: red;
    }
  }

  &-clear-btn {
    position: absolute;
    right: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 5px;
    margin: 0;
  }

  &-clear-btn:after {
    content: "\e631";
    font-family: "anticon";
    font-size: 12px;
    color: #ccc;
    display: inline-block;
    line-height: 1;
    width: 20px;
    transition: color 0.3s ease;
  }

  &-clear-btn:hover:after {
    color: #999;
  }

  &-narrow &-input-wrap {
    max-width: 111px;
  }

  &-select {
    float: left;
    font-size: 12px;
    border: 1px solid @border-color-split;
    border-width: 0 1px;
    margin-left: -1px;
    box-sizing: border-box;
    width: 56px;
    overflow: hidden;
    position: relative; // Fix chrome weird render bug

    &:hover {
      overflow-y: auto;
    }

    &:first-child {
      border-left: 0;
      margin-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    ul {
      list-style: none;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: 100%;
      max-height: 144px;
    }

    li {
      list-style: none;
      box-sizing: content-box;
      margin: 0;
      padding: 0 0 0 16px;
      width: 100%;
      height: 24px;
      line-height: 24px;
      text-align: left;
      cursor: pointer;
      user-select: none;
      transition: background 0.3s ease;
    }

    li:last-child:after {
      content: '';
      height: 120px;
      display: block;
    }

    li:hover {
      background: tint(@primary-color, 90%);
    }

    li&-option-selected {
      background: #f7f7f7;
      font-weight: bold;
    }

    li&-option-disabled {
      color: @btn-disable-color;
      &:hover {
        background: transparent;
        cursor: @cursor-disabled;
      }
    }
  }

  &.slide-up-enter.slide-up-enter-active&-placement-topLeft,
  &.slide-up-enter.slide-up-enter-active&-placement-topRight,
  &.slide-up-appear.slide-up-appear-active&-placement-topLeft,
  &.slide-up-appear.slide-up-appear-active&-placement-topRight {
    animation-name: antSlideDownIn;
  }

  &.slide-up-enter.slide-up-enter-active&-placement-bottomLeft,
  &.slide-up-enter.slide-up-enter-active&-placement-bottomRight,
  &.slide-up-appear.slide-up-appear-active&-placement-bottomLeft,
  &.slide-up-appear.slide-up-appear-active&-placement-bottomRight {
    animation-name: antSlideUpIn;
  }

  &.slide-up-leave.slide-up-leave-active&-placement-topLeft,
  &.slide-up-leave.slide-up-leave-active&-placement-topRight {
    animation-name: antSlideDownOut;
  }

  &.slide-up-leave.slide-up-leave-active&-placement-bottomLeft,
  &.slide-up-leave.slide-up-leave-active&-placement-bottomRight {
    animation-name: antSlideUpOut;
  }
}

.@{timepicker-prefix-cls} {
  position: relative;
  display: inline-block;
  outline: none;
  font-size: @font-size-base;
  transition: opacity 0.3s ease;

  &-input {
    .input;
    width: 100px;
  }

  &-large &-input {
    .input-lg;
  }

  &-small &-input {
    .input-sm;
  }

  &-open {
    opacity: 0;
  }

  &-icon {
    position: absolute;
    user-select: none;
    transition: all .3s @ease-in-out;
    width: 12px;
    height: 12px;
    line-height: 12px;
    right: 8px;
    color: #999;
    top: 50%;
    margin-top: -6px;
    &:after {
      content: "\e643";
      font-family: "anticon";
      font-size: 12px;
      color: #999;
      display: inline-block;
      line-height: 1;
      vertical-align: bottom;
    }
  }
}
