.@{dialog-prefix-cls} {
  &-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #373737;
    background-color: rgba(55, 55, 55, 0.6);
    height: 100%;
    z-index: 1000;
    filter: alpha(opacity=50);

    &-hidden {
      display: none;
    }
  }
}
