.design-card {
  position: relative;
  min-height: 278px;
  padding: 32px 40px;
  color: #697b8c;
  line-height: 2;
  background: rgba(0, 0, 0, 0.1);

  h3,
  h4 {
    color: #0d1a26;
  }

  a {
    color: #2f54eb;
  }

  .design-card-detail {
    position: absolute;
    bottom: 32px;
    left: 40px;
  }

  .design-values {
    margin-bottom: -100px;
    text-align: center;

    img {
      display: block;
      width: 104px;
      height: 104px;
      margin: 0 auto 32px;
    }

    h4 {
      margin-top: 18px;
      font-weight: normal;
    }
  }

  &.sub-card {
    padding: 0;

    .card-info {
      display: flex;
      flex-direction: column;
      padding: 40px 0 32px 40px;

      ul {
        margin-top: auto;

        li {
          margin-top: 16px;

          a {
            color: #2f54eb;
          }
        }
      }
    }
  }
}

.design-mini-panel {
  .ant-card-meta-title {
    color: #0d1a26;
    font-weight: 400;
    font-size: 20px;
  }

  .ant-card-body {
    padding: 16px 20px 20px 20px;
  }

  .ant-card-meta-description {
    color: #697b8c;
  }
}
