.design-card {
  position: relative;
  min-height: 302px;
  padding: 40px;
  color: #697b8c;
  line-height: 2;
  background: rgba(0, 0, 0, 0.1);

  a {
    color: #2f54eb;
  }

  .design-card-detail {
    position: absolute;
    bottom: 32px;
    left: 40px;
  }

  .design-values {
    text-align: center;

    img {
      display: block;
      width: 104px;
      height: 104px;
      margin: 0 auto 32px;
    }

    h4 {
      font-weight: normal;
    }
  }

  &.sub-card {
    padding: 0;

    .card-info {
      display: flex;
      flex-direction: column;
      padding: 40px 0 32px 40px;

      ul {
        margin-top: auto;

        li {
          margin-top: 16px;

          a {
            color: #2f54eb;
          }
        }
      }
    }
  }
}

.design-mini-panel {
  .ant-card-body {
    padding: 20px 20px 24px 20px;
  }
}
