#footer {
    animation: yBottomMatrix .5s ease-out .6s backwards;

    border-top: 1px solid #eee;
    background: #fff;
    padding: 0 2%;
}

#footer .footer-col {
    padding: 10px 2% 15px;
}
#footer h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}
#footer a, #footer p {
    font-size: 12px;
    margin: 5px 2px 0 0;
}