@import './index';

.@{select-prefix-cls}-single {
  .@{select-prefix-cls}-selector {
    display: flex;
    position: relative;
    height: @input-height-base;

    .@{select-prefix-cls}-selection-search {
      width: 100%;

      &-input {
        width: 100%;
      }
    }

    .@{select-prefix-cls}-selection-item,
    .@{select-prefix-cls}-selection-placeholder {
      position: absolute;
      top: 1px;
      left: 3px;
      pointer-events: none;
    }
  }

  // Not customize
  &:not(.@{select-prefix-cls}-customize-input) {
    .@{select-prefix-cls}-selector {
      .select-selector();
      .select-search-input-without-border();
    }
  }
}
