// mixins for clearfix
// ------------------------
.clearfix() {
  // https://github.com/ant-design/ant-design/issues/21301#issuecomment-583955229
  &::before {
    display: table;
    content: '';
  }
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}
