.compact-item-border-radius(@prefix-cls, @real-cls: null) {
  & when (@real-cls = null) {
    // border-radius
    &-item {
      border-radius: 0 !important;
    }

    &-first-item {
      border-top-left-radius: @btn-border-radius-base !important;
      border-bottom-left-radius: @btn-border-radius-base !important;

      .@{prefix-cls}-sm & {
        border-top-left-radius: @btn-border-radius-sm !important;
        border-bottom-left-radius: @btn-border-radius-sm !important;
      }
    }

    &-last-item {
      border-top-right-radius: @btn-border-radius-base !important;
      border-bottom-right-radius: @btn-border-radius-base !important;

      .@{prefix-cls}-sm & {
        border-top-right-radius: @btn-border-radius-sm !important;
        border-bottom-right-radius: @btn-border-radius-sm !important;
      }
    }
  }
  & when (not (@real-cls = null)) {
    // border-radius
    &-item .@{real-cls} {
      border-radius: 0 !important;
    }

    &-first-item .@{real-cls} {
      border-top-left-radius: @btn-border-radius-base !important;
      border-bottom-left-radius: @btn-border-radius-base !important;

      .@{prefix-cls}-sm & {
        border-top-left-radius: @btn-border-radius-sm !important;
        border-bottom-left-radius: @btn-border-radius-sm !important;
      }
    }

    &-last-item .@{real-cls} {
      border-top-right-radius: @btn-border-radius-base !important;
      border-bottom-right-radius: @btn-border-radius-base !important;

      .@{prefix-cls}-sm & {
        border-top-right-radius: @btn-border-radius-sm !important;
        border-bottom-right-radius: @btn-border-radius-sm !important;
      }
    }
  }
}

.compact-item-border(@prefix-cls, @real-cls: null) {
  & when (@real-cls = null) {
    // border collapse
    &-item:not(&-last-item) {
      margin-right: -1px;
    }

    &-item {
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }

      &[disabled] {
        z-index: 0;
      }
    }
  }

  & when (not (@real-cls = null)) {
    // border-radius
    &-item .@{real-cls} {
      border-radius: 0 !important;
    }

    // border collapse
    &-item:not(&-last-item) .@{real-cls} {
      margin-right: -1px;
    }

    &-item {
      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }

      &[disabled] {
        z-index: 0;
      }
    }
  }
}

.compact-item(@prefix-cls, @real-cls: null) {
  &-compact {
    .compact-item-border(@prefix-cls, @real-cls);

    .compact-item-border-radius(@prefix-cls, @real-cls);
  }
}
