@import 'box';

@dialog-mask-modal-prefix-cls: ~'@{ant-prefix}-modal';
@dialog-mask-image-prefix-cls: ~'@{ant-prefix}-image-preview';

.modal-mask(@className) {
  .@{className} {
    pointer-events: none;
  }

  .@{className}.zoom-enter,
  .@{className}.zoom-appear {
    transform: none; // reset scale avoid mousePosition bug
    opacity: 0;
    animation-duration: @animation-duration-slow;
    user-select: none; // https://github.com/ant-design/ant-design/issues/11777
  }

  .@{className}-mask {
    .box(fixed);
    z-index: @zindex-modal-mask;
    height: 100%;
    background-color: @modal-mask-bg;
    filter: ~'alpha(opacity=50)';

    &-hidden {
      display: none;
    }
  }

  .@{className}-wrap {
    .box(fixed);
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
  }
}
