.@{full-calendar-prefix-cls}-note {
  &-list {
    line-height: 24px;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;

    > li {
      color: @legend-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > span { vertical-align: middle; }

      > span:first-child {
        font-size: 9px;
        margin-right: 4px;
      }
    }

    &-node-gray {
      color: #ccc;
    }
    &-node-warn {
      color: @warning-color;
    }
    &-node-normal {
      color: @primary-color;
    }
    &-node-error {
      color: @error-color;
    }
  }
}
