@import '../../style/mixins/index';

@input-prefix-clx: ~'@{ant-prefix}-input';

.@{input-prefix-clx} {
  // compact-item style for Input
  .compact-item(@input-prefix-cls);

  // addon style
  &-addon {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 @input-padding-horizontal-base;
    color: @input-color;
    font-weight: normal;
    font-size: @font-size-base;
    white-space: nowrap;
    text-align: center;
    background-color: @input-addon-bg;
    border: @border-width-base @border-style-base @input-border-color;
    border-radius: @control-border-radius;
    transition: all 0.3s;

    // Reset Select's style in addon
    .@{ant-prefix}-select .@{ant-prefix}-select-selector {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    // Reset Button's style in addon
    .@{ant-prefix}-btn {
      border-width: 0;
      border-radius: 0;
    }

    // addon 跟的是 button 的时候需要给 .ant-btn 的 padding 置为0
    & > .@{ant-prefix}-btn {
      padding: 0;

      &:not(.@{ant-prefix}-btn-primary) {
        background-color: @input-addon-bg;
      }
    }
  }

  // nested compact-item
  &-compact-item > &-compact-item {
    border-radius: 0;
  }

  &-compact-item:not(&-compact-first-item):not(&-compact-last-item) {
    border-radius: 0;
  }

  &-compact-first-item + &-compact-last-item {
    border-left-width: 1px;
  }

  // addon in Input.Search
  &-search + &-addon {
    padding: 0;

    &:hover,
    &:active {
      color: @input-color;
      border-color: @input-hover-border-color;
    }
  }

  // &-compact-item {
  //   // <Input.Search /> 右边的搜索按钮
  //   .@{ant-prefix}-input-search-button {
  //     border: 0;
  //   }
  // }
}

// FIXME: 要删掉，input select 还没把 compact-item 类加上去
.@{ant-prefix}-space-compact-block {
  .@{ant-prefix}-input-addon {
    .@{ant-prefix}-select {
      margin: -5px -11px;

      &.@{ant-prefix}-select-single:not(.@{ant-prefix}-select-customize-input) {
        .@{ant-prefix}-select-selector {
          background-color: inherit;
          border: 1px solid transparent;
          box-shadow: none;
        }
      }
    }
  }
}
