@import '../../style/mixins/index';

@input-prefix-clx: ~'@{ant-prefix}-input';

.@{input-prefix-clx} {
  // compact-item style for Input
  .compact-item(@input-prefix-cls);

  // addon style
  &-addon {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 @input-padding-horizontal-base;
    color: @input-color;
    font-weight: normal;
    font-size: @font-size-base;
    white-space: nowrap;
    text-align: center;
    background-color: @input-addon-bg;
    border: @border-width-base @border-style-base @input-border-color;
    border-radius: @control-border-radius;
    transition: all 0.3s;

    // addon has no hover effect
    // Reset compact-item hover effect
    &:hover,
    &:focus,
    &:active {
      z-index: 0;
    }

    // Reset Select's style in addon
    .@{ant-prefix}-select .@{ant-prefix}-select-selector {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // nested compact-item
  &-compact-item > &-compact-item {
    border-radius: 0;
  }

  &-compact-item&-compact-first-item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-compact-item&-compact-last-item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-compact-item:not(&-compact-first-item):not(&-compact-last-item) {
    border-radius: 0;
  }

  &-compact-first-item + &-compact-last-item {
    border-left-width: 1px;
  }

  // addon in Input.Search
  &-search + &-addon {
    padding: 0;
    border: 0;

    &:hover,
    &:active {
      color: @input-color;
      border-color: @input-hover-border-color;
    }
  }
}

// compact-item style for Select
.@{ant-prefix}-select {
  .compact-item('@{ant-prefix}-select');
}
