@import '../../style/mixins/index';

@btn-prefix-cls: ~'@{ant-prefix}-btn';

// btn in Space.Compact styles
.@{btn-prefix-cls} {
  .compact-item(@btn-prefix-cls);

  &-icon-only&-compact-item {
    min-width: @btn-height-base;
  }

  &-lg &-icon-only&-compact-item {
    min-width: @btn-height-lg;
  }

  &-sm &-icon-only&-compact-item {
    min-width: @btn-height-sm;
  }

  // Special styles for Primary Button
  &-compact-item&:not(&-compact-item-rtl) {
    &.@{btn-prefix-cls}-primary + &:not(.@{btn-prefix-cls}-primary):not([disabled]) {
      border-left-color: transparent;
    }

    &.@{btn-prefix-cls}-primary:not(:first-child):not(:last-child) {
      border-right-color: @btn-group-border;
      border-left-color: @btn-group-border;

      &:disabled {
        border-color: @btn-default-border;
      }
    }

    &.@{btn-prefix-cls}-primary:first-child:not(:last-child) {
      border-right-color: @btn-group-border;

      &[disabled] {
        border-right-color: @btn-default-border;
      }
    }

    &.@{btn-prefix-cls}-primary:last-child:not(:first-child) {
      border-left-color: @btn-group-border;

      &[disabled] {
        border-left-color: @btn-default-border;
      }
    }
  }

  // ----------RTL Special styles for Primary Button----------
  &-compact-item-rtl {
    &.@{btn-prefix-cls}-primary + &:not(.@{btn-prefix-cls}-primary):not([disabled]) {
      border-right-color: transparent;
    }

    &.@{btn-prefix-cls}-primary:not(:first-child):not(:last-child) {
      border-right-color: @btn-group-border;
      border-left-color: @btn-group-border;

      &:disabled {
        border-color: @btn-default-border;
      }
    }

    &.@{btn-prefix-cls}-primary:first-child:not(:last-child) {
      border-left-color: @btn-group-border;

      &[disabled] {
        border-left-color: @btn-default-border;
      }
    }

    &.@{btn-prefix-cls}-primary:last-child:not(:first-child) {
      border-right-color: @btn-group-border;

      &[disabled] {
        border-right-color: @btn-default-border;
      }
    }
  }

  // ----------RTL----------
  &-compact-item-rtl {
    &.@{ant-prefix}-btn-compact-first-item&:not(.@{ant-prefix}-btn-compact-last-item) {
      border-radius: 0 @btn-border-radius-base @btn-border-radius-base 0;
    }

    &.@{ant-prefix}-btn-compact-last-item&:not(.@{ant-prefix}-btn-compact-first-item) {
      border-radius: @btn-border-radius-base 0 0 @btn-border-radius-base;
    }

    &.@{ant-prefix}-btn-sm {
      &.@{ant-prefix}-btn-compact-first-item&:not(.@{ant-prefix}-btn-compact-last-item) {
        border-radius: 0 @btn-border-radius-sm @btn-border-radius-sm 0;
      }

      &.@{ant-prefix}-btn-compact-last-item&:not(.@{ant-prefix}-btn-compact-first-item) {
        border-radius: @btn-border-radius-sm 0 0 @btn-border-radius-sm;
      }
    }
  }
}
