@breadcrumb-prefix-cls: ant-breadcrumb;

.@{breadcrumb-prefix-cls} {
  color: #999;
  font-size: 12px;

  a {
    color: #666;
  }

  & > span:last-child {
    font-weight: bold;
    color: #666;
  }

  & > span:last-child &-separator {
    display: none;
  }

  &-separator {
    margin: 0 8px;
    color: #d9d9d9;
  }

  .anticon + span {
    margin-left: 4px;
  }
}
