@checkboxWarpPrefixCls: ant-checkbox;
@checkboxPrefixCls: ~"@{checkboxWarpPrefixCls}-checkbox";
@labelPrefixCls: ~"@{checkboxWarpPrefixCls}-label";
/* 一般状态 */
.@{checkboxWarpPrefixCls} {
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;

  .@{checkboxPrefixCls} {
    &:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 5px;
      height: 8px;
      border: 2px solid #ffffff;
      border-top: 0;
      border-left: 0;
      content: ' ';
      -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-name: amCheckboxOut;
      animation-name: amCheckboxOut;
    }
    &:hover {
      border-color: #bcbcbc;
    }
    position: relative;
    top: 3px;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #d9d9d9;
    background-color: #ffffff;
    transition: border-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .@{labelPrefixCls} {
    position: relative;
    padding-left: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    vertical-align: baseline;
    border: 1px dotted transparent;
    white-space: normal;
    pointer-events: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

}

/* 选中状态 */
.@{checkboxWarpPrefixCls}-checked {
  .@{checkboxPrefixCls} {
    border-color: #3dbcf6;
    background-color: #3dbcf6;
    &:hover {
      border-color: #3dbcf6;
    }
    &:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: 4px;
      top: 1px;
      display: table;
      width: 5px;
      height: 8px;
      border: 2px solid #ffffff;
      border-top: 0;
      border-left: 0;
      content: ' ';
      -webkit-animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-name: amCheckboxOut;
      animation-name: amCheckboxOut;
    }
  }
}

.@{checkboxWarpPrefixCls}-disabled {

  &.@{checkboxWarpPrefixCls}-checked {
    .@{checkboxPrefixCls} {
      background-color: #f3f3f3;
      border-color: #d9d9d9;
      &:hover {
        border-color: #d9d9d9;
      }
      &:after {
        -webkit-animation-name: none;
        animation-name: none;
        border-color: #cccccc;
      }
    }
  }
  .@{checkboxPrefixCls} {
    border-color: #d9d9d9;
    background-color: #f3f3f3;
    &:hover {
      border-color: #d9d9d9;
    }
    &:after {
      -webkit-animation-name: none;
      animation-name: none;
      border-color: #f3f3f3;
    }
  }
}

@-webkit-keyframes amCheckboxIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0) rotate(45deg);
    transform: scale(0, 0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1) rotate(45deg);
    transform: scale(1, 1) rotate(45deg);
  }
}

@keyframes amCheckboxIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0) rotate(45deg);
    transform: scale(0, 0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1) rotate(45deg);
    transform: scale(1, 1) rotate(45deg);
  }
}

@-webkit-keyframes amCheckboxOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes amCheckboxOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}