@prefixConfirmCls: rc-dialog-confirm;

.@{prefixConfirmCls}-body {
  .ant-icon {
    font-size: 24px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: inherit;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;

    .ant-icon-warn-circle:before {
      content: "\e613";
      display: block;
      font-family: "iconfont" !important;
    }

    .ant-icon-warn-circle {
      color: #fac450;
    }
  }

  .@{prefixConfirmCls}-description {
    margin-left: 33px;
    font-size: 12px;
    color: #999;
  }
}

.@{prefixConfirmCls}-btns {
  margin-top: 30px;
  float: right;

  [btn] + [btn] {
    margin-left: 10px;
    margin-bottom: 0;
  }
}
