@confirmPrefixCls: ant-confirm;

.@{confirmPrefixCls} {

  .ant-modal-header {
    display: none;
  }

  .ant-modal-body {
    padding: 30px 40px;
  }

  .@{confirmPrefixCls}-body {
    .@{confirmPrefixCls}-title {
      color: @text-color;
    }

    .@{confirmPrefixCls}-content {
      margin-left: 37px;
      font-size: 12px;
      color: #999;
    }

    .anticon {
      font-size: 24px;
      margin-right: 12px;
      position: relative;
      top: 2px;
    }

    .anticon-exclamation-circle {
      color: @warning-color;
    }

    .anticon-question-circle {
      color: @primary-color;
    }
  }

  .@{confirmPrefixCls}-btns {
    margin-top: 30px;
    float: right;

    button + button {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
}
