@calendar-prefix-cls: ant-calendar;

.@{calendar-prefix-cls} {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

@import "datepicker/Picker";
@import "datepicker/Calendar";
@import "datepicker/RangePicker";
@import "datepicker/TimePicker";
@import "datepicker/MonthPanel";
@import "datepicker/YearPanel";
@import "datepicker/DecadePanel";
