@dialog-prefix-cls: ant-modal;

@import "./dialog/Dialog.less";
@import "./dialog/Mask.less";

.@{dialog-prefix-cls} {
  &-header {
    padding: 13px 18px 14px 16px;
  }
  &-body {
    padding: 16px;
  }
  &-footer {
    padding: 10px 18px 10px 10px;
  }
  &-footer button + button {
    margin-left: 8px;
    margin-bottom: 0;
  }
}
