@inputNumberPrefixCls: ant-input-number;

@import "../mixins/iconfont";
@import "../mixins/input";

.@{inputNumberPrefixCls} {
  margin: 0;
  padding: 0;
  line-height: 29px;
  font-size: 12px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  overflow: hidden;

  &-handler {
    text-align: center;
    line-height: 0;
    height: 15px;
    overflow: hidden;
  }

  &-handler-down {
    height: 14px;
  }

  &-handler-up-inner, &-handler-down-inner {
    .iconfont-mixin();
    line-height: 12px;
    color: #999;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 4px;
    &:hover {
      color: #666;
    }
  }

  &:hover {
    .hover();
  }

  &-focused {
    .active();
  }

  &-disabled {
    .disabled();
  }

  &-input-wrap {
    overflow: hidden;
    height: 29px;
  }

  &-input {
    width: 100%;
    text-align: center;
    outline: 0;
    -moz-appearance: textfield;
    line-height: 29px;
    height: 22px;
    transition: all 0.3s ease;
    color: #666666;
    border: 0;
    border-radius: 5px;
    padding: 0 8px;

    &[disabled] {
      .disabled();
    }
  }

  &-handler-wrap {
    float: right;
    border-left: 1px solid #D9D9D9;
    width: 22px;
    height: 29px;
    margin-top: -1px;
    position: relative;
  }

  &-handler-up {
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;
    &-inner {
      top: 2px;
      &:before {
        content: "\e600";
        .ie-rotate(2);
        transform: rotate(180deg);
      }
    }
  }

  &-handler-down {
    cursor: pointer;
    &-inner {
      bottom: 2px;
      &:before {
        content: "\e600";
      }
    }
  }

  .handler-disabled() {
    opacity: 0.72;
    color: #ccc;
    cursor: default;
    &:hover {
      color: #ccc;
      cursor: default;
    }
  }

  &-handler-down-disabled, &-handler-up-disabled, &-disabled {
    .@{inputNumberPrefixCls}-handler-down-inner,
    .@{inputNumberPrefixCls}-handler-up-inner {
      .handler-disabled();
    }
  }

  &-disabled {
    .@{inputNumberPrefixCls}-input {
      opacity: 0.72;
      cursor: not-allowed;
      background-color: #f3f3f3;
    }
    .@{inputNumberPrefixCls}-handler {
      .handler-disabled();
    }
  }
}
