@import "../mixins/index";

@menuPrefixCls: ~"@{css-prefix}menu";

.@{menuPrefixCls} {
  outline: none;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  z-index: 99999;
  border: 1px solid #d9d9d9;
  box-shadow: 0 0 4px #d9d9d9;
  border-radius: 3px;
  color: #666;

  &-item-group-list {
    margin: 0;
    padding: 0;
  }

  &-item-group-title {
    color: #999;
    line-height: 1.5;
    padding: 8px 10px;
    border-bottom: 1px solid #dedede;
  }

  &-inline > &-item-active,
  &-submenu-inline&-submenu-active,
  &-submenu-inline&-submenu-active > &-submenu-title:hover {
    background-color: #fff;
  }

  &-inline > &-item-active:hover,
  &-item-active,
  &-submenu-active,
  &-submenu-inline&-submenu-active > &-submenu-title:hover {
    background-color: tint(@primary-color, 90%);
  }

  &-item-selected {
    background-color: tint(@primary-color, 90%);
  }

  & > li&-submenu {
    padding: 0;
  }

  &-submenu-horizontal > .@{menuPrefixCls} {
    top: 100%;
    left: 0;
    position: absolute;
    min-width: 160px;
    margin-top: 4px;
  }

  &-submenu-vertical > .@{menuPrefixCls} {
    top: 0;
    left: 100%;
    position: absolute;
    min-width: 160px;
    margin-left: 4px;
  }

  &-item, &-submenu-title {
    margin: 0;
    position: relative;
    display: block;
    padding: 7px 7px 7px 16px;
    white-space: nowrap;

    // Disabled state sets text to gray and nukes hover/tab effects
    &.@{menuPrefixCls}-item-disabled, &.@{menuPrefixCls}-submenu-disabled {
      color: #777 !important;
    }
  }
  & > &-item-divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    background-color: #e5e5e5;
  }

  &-submenu {
    position: relative;

    > .@{menuPrefixCls} {
      display: none;
      background-color: #fff;
    }

    &-inline > .@{menuPrefixCls}-submenu-title:after {
      font-family: "anticon" !important;
      font-style: normal;
      vertical-align: baseline;
      text-align: center;
      text-transform: none;
      text-rendering: auto;
      position: absolute;
      transition: transform .3s ease-in;
      content: "\e600";
      right: 8px;
      transform: scale(0.7);
      top: 11px;
    }

    &-opened {
      > .@{menuPrefixCls} {
        display: block;
      }

      &.@{menuPrefixCls}-submenu-inline > .@{menuPrefixCls}-submenu-title:after {
        content: "\e600";
        .ie-rotate(2);
        transform: rotate(180deg) scale(0.7);
      }
    }
  }

  .@{menuPrefixCls}-submenu-title, .@{menuPrefixCls}-item {
    .anticon {
      width: 14px;
      height: 14px;
      margin-right: 8px;
      top: -1px;
    }
  }

  &-horizontal {
    background-color: #F3F5F7;
    border: none;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: none;

    & > .@{menuPrefixCls}-item, & > .@{menuPrefixCls}-submenu > .@{menuPrefixCls}-submenu-title {
      padding: 15px 20px;
    }

    & > .@{menuPrefixCls}-submenu, & > .@{menuPrefixCls}-item {
      float: left;
      border-bottom: 2px solid transparent;

      &-active {
        border-bottom: 2px solid @primary-color;
        background-color: #F3F5F7;
        color: @primary-color;
      }
    }

    &:after {
      content: "\20";
      display: block;
      height: 0;
      clear: both;
    }
  }

  &-vertical, &-inline {
    padding: 12px 0;
    & > .@{menuPrefixCls}-item, & > .@{menuPrefixCls}-submenu > .@{menuPrefixCls}-submenu-title {
      padding: 12px 8px 12px 24px;
    }
  }

  &-vertical&-sub {
    padding: 0;
  }

  &-root&-inline {
    border-radius: 0;
  }

  &-sub&-inline {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;

    & > .@{menuPrefixCls}-item, & > .@{menuPrefixCls}-submenu > .@{menuPrefixCls}-submenu-title {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 0;
    }
  }
}

.@{menuPrefixCls}-submenu-title, .@{menuPrefixCls}-item {
  .anticon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    top: -1px;
  }
}
