@prefixProgressClass: ant-progress;

.@{prefixProgressClass} {
  &-line-inner {
    display: inline-block;

    svg {
      vertical-align: middle;
    }
  }

  &-line-text {
    display: inline-block;
    font-size: 1em;
    margin-left: 10px;
    line-height: 1;

    .anticon {
      font-size: 1.5em;
    }
  }

  &-circle-inner {
    position: relative;
  }
  &-circle-text {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    text-align: center;

    .anticon {
      font-size: 0.5em;
    }
  }
}