@prefixProgressClass: ant-progress;
@statusNormal: #3FC7FA;
@statusException: #FE8C6A;
@statusSuccess: #85D262;

.@{prefixProgressClass} {
  &-line-wrap {
    width: 100%;
    font-size: 12px;
    position: relative;
  }
  &-line-outer {
    margin-right: 45px;
  }
  &-line-inner {
    display: inline-block;
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 100px;
    margin-right: 45px;
  }
  &-line-bg {
    border-radius: 100px;
    background-color: @statusNormal;
  }
  &-line-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    text-align: left;
    font-size: 1em;
    margin-left: 10px;

    .anticon {
      font-size: 12px;
    }
  }
  &-line-wrap.status-exception {
    .@{prefixProgressClass}-line-bg {
      background-color: @statusException;
    }
    .@{prefixProgressClass}-line-text {
      color: @statusException;
    }
  }
  &-line-wrap.status-success {
    .@{prefixProgressClass}-line-bg {
      background-color: @statusSuccess;
    }
    .@{prefixProgressClass}-line-text {
      color: @statusSuccess;
    }
  }


  &-circle-inner {
    position: relative;
    line-height: 1;
  }
  &-circle-text {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    .anticon {
      font-size: 14/12em;
    }
  }
}
