@import "../mixins/index";

@spin-prefix-cls: ant-spin;

// root of component
// ------------------------------

.@{spin-prefix-cls} {
  display: inline-block;
  font-size: @spin-dot-size;
  position: relative;
  text-align: center;
  vertical-align: middle;

  // dots
  // ------------------------------

  &-dot {
    .animation(antSpinPulse 1s infinite ease-in-out);
    .square(1em);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color: @primary-color;
  }
  &-dot-second {
    .animation-delay(200ms);
    margin-left: 1em;
  }
  &-dot-third {
    .animation-delay(400ms);
    margin-left: 1em;
  }

  // Sizes
  // ------------------------------

  // small
  &-sm {
    font-size: @spin-dot-size-sm;
  }

  // large
  &-lg {
    font-size: @spin-dot-size-lg;
  }
}

// pulse
@keyframes antSpinPulse {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
