.col {
  position: relative;
  display: block;
  float: left;
  flex: 0 0 auto;
}

.rc-steps {
  .rc-steps-start {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
  }
  .rc-steps-end {

  }
  .rc-steps-item {
    position: relative;
    display: inline-block;
    float: left;
  }
  .rc-steps-item:last-child {

  }
}