@active-color: #3fc7fa;
@wait-color: #e9e9e9;

.transition(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.rc-steps {
  font-size: 0;
  width: 100%;
  line-height: 1.5;

  .rc-steps-item {
    position: relative;
    display: inline-block;

    &.rc-steps-status-wait {
      .rc-steps-head {
        border-color: @wait-color;
        background-color: #fff;
        &.rc-steps-custom {
          background: none;
          border: 0;
        }
        > .rc-steps-icon {
          color: @wait-color;
        }
      }
    }
    &.rc-steps-status-process {
      .rc-steps-head {
        border-color: @active-color;
        background-color: @active-color;
        &.rc-steps-custom {
          background: none;
          border: 0;
        }
        > .rc-steps-icon {
          color: #fff;
        }
      }
    }
    &.rc-steps-status-finish {
      .rc-steps-head {
        border-color: @active-color;
        background-color: #fff;
        &.rc-steps-custom {
          background: none;
          border: 0;
        }
        > .rc-steps-icon {
          color: @active-color;
        }
      }
      //.rc-steps-tail {
      //  > i {
      //    background: @active-color;
      //  }
      //}
    }

  }

  .rc-steps-head, .rc-steps-main, .rc-steps-tail {
    display: inline-block;
    vertical-align: top;

  }
  .rc-steps-head {
    border:2px solid @wait-color;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 24px;
    font-size: 13px;
    margin-right: 12px;
    .transition(background-color 0.1s ease);
    .transition(border-color 0.1s ease);

    > .rc-steps-icon {
      display: inline-block;
      vertical-align: inherit;
      color: #3fc7fa;
      position: relative;
    }
  }
  .rc-steps-main {
    max-width: 75px;
    margin-top: 3px;
  }
  .rc-steps-title {
    font-size: 14px;
    margin-bottom: 4px;
    color: #666;
    font-weight: bold;
  }
  .rc-steps-description {
    font-size: 12px;
    color: #999;
  }
  .rc-steps-tail {
    width: 0;
    position: relative;
    top: 13px;
    padding:0 10px;
    > i {
      display: inline-block;
      background: @wait-color;
      height: 2px;
      border-radius: 1px;
      width: 100%;
    }
  }


  &.rc-steps-small {
    .rc-steps-head {
      border:1px solid @wait-color;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      border-radius: 18px;
      font-size: 10px;
      margin-right: 10px;

      > .rc-steps-icon {
        top: 0;
      }
    }
    .rc-steps-main {
      max-width: 75px;
      margin-top: 0;
    }
    .rc-steps-title {
      font-size: 12px;
      margin-bottom: 4px;
      color: #666;
      font-weight: bold;
    }
    .rc-steps-description {
      font-size: 10px;
      color: #999;
    }
    .rc-steps-tail {
      top: 9px;
      padding:0 8px;
      > i {
        height: 1px;
        border-radius: 1px;
        width: 100%;
      }
    }
  }

  &.rc-steps-small .rc-steps-head.rc-steps-custom, .rc-steps-head.rc-steps-custom {
    width: inherit;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
    border: 0;
    background: none;
  }
}