@switchPrefixCls:ant-switch;

@switch-duration:.3s;

.@{switchPrefixCls}{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  transition: all @switch-duration @ease-in-out-circ;

  &-inner {
    color:#fff;
    font-size: 12px;
    position: absolute;
    left:24px;
  }

  &:after{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top:1px;
    border-radius: 100%;
    background-color: #ffffff;
    content: " ";
    cursor: pointer;
    transform: scale(1);
    transition: left @switch-duration @ease-in-out-circ;
    animation-timing-function: linear;
    animation-duration: @switch-duration;
    animation-name: rcSwitchOff;
  }

  &:hover:after{
    transform: scale(1.1);
    animation-name: rcSwitchOn;
  }

  &-checked{
    border: 1px solid @success-color;
    background-color: @success-color;

    .@{switchPrefixCls}-inner {
      left:6px;
    }

    &:after{
      left: 22px;
    }
  }

  &-disabled{
    cursor: no-drop;
    background: #f4f4f4;
    border-color:#f4f4f4;

    &:after{
      background: #ccc;
      animation-name: none;
      cursor: no-drop;
    }

    &:hover:after{
      transform: scale(1);
      animation-name: none;
    }

    &-inner {
      color:#ccc;
    }
  }
}

@keyframes rcSwitchOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes rcSwitchOff {
  0% {
    transform: scale(1.1);
  }
  50%{
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
