@timepicker-prefix-cls: ant-timepicker;

.@{timepicker-prefix-cls} {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

@import "timepicker/Picker";
@import "timepicker/Panel";
@import "timepicker/Header";
@import "timepicker/Select";
