@import "../mixins/index";

@timeline-prefix-cls: ~"@{css-prefix}timeline";

@timeline-color: #e9e9e9;

.@{timeline-prefix-cls} {
  &-item {
    position: relative;
    min-height: 36px;
    padding-bottom: 16px;

    &-tail {
      position: absolute;
      left: 5px;
      margin-top: 2px;
      z-index: 1;
      height: 100%;
      border-left: 2px solid @timeline-color;
      &-end {
        border-left: 2px dotted @timeline-color;
      }
    }

    &-head {
      position: absolute;
      z-index: 2;
      width: 12px;
      height: 12px;
      background-color: #fff;
      margin-top: 2px;
      border-radius: 6px;
      &-blue {
        border: 2px solid @primary-color;
      }
      &-red {
        border: 2px solid @error-color;
      }
      &-green {
        border: 2px solid @success-color;
      }
      &-end{
        position: absolute;
        bottom: -12px;
        border: 2px solid @timeline-color;
      }
    }

    &-content {
      margin-left: 24px;
      font-size: 12px;
    }
  }
}
