@transfer-prefix-cls: ~"@{css-prefix}transfer";
.antCheckboxFn(@checkbox-prefix-cls: ant-transfer-checkbox);
.@{transfer-prefix-cls} {

  position: relative;

  &-list {

    font-size: 12px;
    border: 1px solid #e9e9e9;
    display: inline-block;
    border-radius: 6px;
    width: 160px;

    &-search {
      &-action {
        color: #ccc;
        position: absolute;
        top: 2px;
        right: 2px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 14px;
      }
    }

    &-header {
      padding: 7px 16px;
      border-radius: 5px 5px 0 0;
      background: #fff;
      color: #666;
      border-bottom: 1px solid #e9e9e9;
      overflow: hidden;

      &-title {
        float: right;
      }

    }

    &-body {
      font-size: 12px;
      line-height: 1.5;
      position: relative;
      height: 150px;

      &-search-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 28px;
        padding: 4px;
        width: 100%;
      }

      &-not-found {
        margin-top: 24px;
        color: #ccc;
        text-align: center;
      }

      ul {
        height: 100%;
        overflow: auto;
        li {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 7px 16px;
          &:hover {
            cursor: pointer;
            background-color: #eef9fe;
          }
        }
      }
    }

    &-body-with-search {
      padding-top: 34px;
    }

    &-footer {
      border-top: 1px solid #e9e9e9;
      border-radius: 0 0 5px 5px;
    }
  }

  &-operation {
    display: inline-block;
    overflow: hidden;
    margin: 0 8px;
    vertical-align: top;

    .ant-btn {
      float: left;
      clear: both;
      padding: 1px 5px;

      i {
        font-size: 10px;
      }
    }
  }
}
