<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <link rel="stylesheet" href="/ant-design/dist/antd.css"/>
  <script type="text/javascript" src="/ant-design/node_modules/react/dist/react.js"></script>

  <link rel="stylesheet/less" type="text/css" href="/ant-design/style/components/steps.less" />
  <script type="text/javascript" src="/ant-design/node_modules/less/dist/less.min.js"></script>

</head>
<body>
<div id="__react-content"></div>
<script type="text/javascript" src="../rc-steps/build/examples/common.js"></script>
<script type="text/javascript" src="../rc-steps/build/examples/simple.js"></script>
</body>
</html>