html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  line-height: 1.5;
  color: @text-color;
  font-size: 14px;
  background: #FFF;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-x: hidden;
}

a {
  transition: color .3s ease;
}

.main-wrapper {
  background: #fff;
  margin: 0 48px;
  border-radius: @border-radius-base;
  padding: 24px 0 0;
  margin-bottom: 24px;
  position: relative;
}

div.main-container {
  padding: 0 130px 120px 40px;
  margin-left: -1px;
  background: #fff;
  min-height: 500px;
  overflow: hidden;
  border-left: 1px solid #e9e9e9;
  position: relative;
}

.aside-container {
  padding-bottom: 50px;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;

  &.ant-menu-inline .ant-menu-submenu-title h4,
  &.ant-menu-inline > .ant-menu-item,
  &.ant-menu-inline .ant-menu-item a {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a[disabled] {
    color: #ccc;
  }

  .menu-item-link-outside {
    position: relative;
    .anticon {
      font-size: 12px;
      color: #999;
      opacity: 0;
      position: absolute;
      right: -4px;
      top: 16px;
      transition: all .3s;
    }
    &:hover .anticon {
      opacity: 1;
    }
  }
}

.aside-container .chinese {
  font-size: 12px;
  margin-left: 6px;
  font-weight: normal;
  opacity: .67;
}

.outside-link {
  display: inline-block;
}

.outside-link:after {
  content: '\e691';
  font-family: 'anticon';
  margin-left: 5px;
  font-size: 12px;
  color: #aaa;
}

.outside-link.internal {
  display: none;
}

.page-wrapper {
  background: #ECECEC;
}
