.algolia-autocomplete {
  .ds-dropdown-menu {
    border: none;
    box-shadow: @box-shadow-base;

    [class^='ds-dataset-'] {
      border: none;
      background: @component-background;
      .algolia-docsearch-suggestion {
        background: @component-background;
      }
    }

    &::before {
      display: none;
    }
  }

  .algolia-docsearch-suggestion--title {
    color: @site-text-color;
  }

  .algolia-docsearch-suggestion--highlight {
    color: @primary-color;
  }
}

[data-theme='dark'] {
  .algolia-autocomplete {
    .algolia-docsearch-suggestion--category-header {
      border-bottom: 1px solid #303030;
      color: rgba(255, 255, 255, 0.65);
    }
    .algolia-docsearch-suggestion--subcategory-column::before {
      background: #303030;
    }
    .algolia-docsearch-suggestion--content::before {
      background: #303030;
    }
  }
}
