footer {
  clear: both;
  font-size: 12px;
  background: #fff;
  position: relative;
  z-index: 1;
  color: @text-color;
  box-shadow: 0 1000px 0 1000px #fff;
  ul {
    overflow: hidden;
    margin: 0 2%;
    list-style: none;
    li {
      float: left;
      width: 25%;
      padding: 24px 2%;
      > h2 {
        font-size: 14px;
        margin: 0 auto 12px;
        font-weight: 500;
        position: relative;
        > .anticon {
          font-size: 16px;
          position: absolute;
          left: -22px;
          top: 3px;
          color: #aaa;
        }
      }
      > div {
        margin: 6px 0;
      }
    }
  }
}
