@header-height: 64px;

#header {
  transition: opacity 0.5s;
  background: #fff;
  box-shadow: 0 2px 8px rgba(240, 241, 242, 65);
  position: relative;
  z-index: 10;

  &.home-nav-bottom {
    background: rgba(255, 255, 255, 0.9);
    border-bottom-color: #ebedee;
    .search {
      border-left-color: #ebedee;
    }
    a {
      color: @site-text-color;
    }
  }

  .header-link {
    color: @site-text-color;
  }

  .ant-menu-item-active .header-link {
    color: @primary-color;
  }
}

#logo {
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: @header-height;
  line-height: @header-height;
  text-decoration: none;

  img {
    height: 32px;
  }
  span {
    float: right;
    font-size: 14px;
    font-family: 'Raleway', 'Hiragino Sans GB', sans-serif;
    height: @header-height;
    line-height: @header-height;
    text-transform: uppercase;
  }
}

#search-box {
  border-left: 1px solid #ebedee;
  float: left;
  height: 22px;
  line-height: 22px;
  padding-left: 16px;
  margin: 22px auto 0;
}

#search-box .anticon {
  color: #ced4d9;
  position: relative;
  top: 0.5px;
}

#search-box .ant-select {
  font-size: 14px;
  margin-top: -5px;
  width: 200px;
}

#search-box .ant-select-selection {
  border: 0;
  box-shadow: none;
}

#search-box .ant-input {
  border: 0;
  box-shadow: none;
}

.header-lang-button,
.version {
  float: right;
  margin-top: 20px;
  margin-left: 10px;
}

.header-lang-button {
  color: @site-text-color;
  border-color: @border-color-base;
  margin-right: 40px;
}

.version {
  margin-left: 16px;
}

#nav {
  border: 0;
  float: right;
  font-size: 14px;
  font-family: Lato, @font-family;
}

#nav {
  &.ant-menu-horizontal {
    border-bottom: none;

    & > .ant-menu-item {
      height: @header-height;
      line-height: @header-height;
      min-width: 72px;
      border-top: 2px solid transparent;

      &:hover {
        border-top: 2px solid @primary-color;
        border-bottom: 2px solid transparent;
      }
    }

    & > .ant-menu-item-selected {
      border-top: 2px solid @primary-color;
      border-bottom: 2px solid transparent;
      a {
        color: @primary-color;
      }
    }
  }

  & > .ant-menu-item {
    text-align: center;
  }
}

.component-select {
  &.ant-select-dropdown {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }
  .ant-select-dropdown-menu {
    max-height: 200px;
  }
  .ant-select-dropdown-menu-item {
    border-radius: 0 !important;
  }
  .ant-component-decs {
    font-size: 12px;
    position: absolute;
    color: #aaa;
    right: 16px;
  }
}
