.icon-pic-searcher {
  margin: 1px 8px;
  display: inline-block;

  .icon-pic-btn {
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.icon-pic-preview {
  width: 66px;
  height: 66px;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  > img {
    max-width: 50px;
    max-height: 50px;
  }
}

.icon-pic-search-result {
  padding: 20px 10px 0px 0px;

  > div {
    display: flex;
    align-items: center;

    > i {
      margin: 10px 20px 10px 0;
      font-size: 30px;
    }
  }
}
