.markdown {
  color: #666;
  font-size: 14px;
  line-height: 1.8;
}

.highlight {
  line-height: 1.5;
}

.markdown img {
  vertical-align: middle;
  max-width: 100%;
}

.markdown h1 {
  color: #404040;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 24px;
  margin-top: 8px;
  font-family: lato,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;

  .subtitle {
    font-weight: normal;
    font-size: 90%;
    margin-left: 12px;
  }
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: #404040;
  font-family: lato,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  margin: 1.6em 0 0.6em 0;
  font-weight: 500;
  clear: both;
}

.markdown h1 { font-size: 28px; }
.markdown h2 { font-size: 22px; }
.markdown h3 { font-size: 18px; }
.markdown h4 { font-size: 16px; }
.markdown h5 { font-size: 14px; }
.markdown h6 { font-size: 12px; }

.markdown hr {
  height: 1px;
  border: 0;
  background: #e9e9e9;
  margin: 16px 0;
  clear: both;
}

.markdown p,
.markdown pre {
  margin: 1em 0;
}

.markdown ul > li {
  list-style: circle;
  &:empty {
    display: none;
  }
}

.markdown > ul li,
.markdown blockquote ul > li {
  margin-left: 20px;
  padding-left: 4px;
}

.markdown > ul li > p,
.markdown > ol li > p {
  margin: 0.2em 0;
}

.markdown ol > li {
  list-style: decimal;
}

.markdown > ol li,
.markdown blockquote ol > li {
  margin-left: 20px;
  padding-left: 4px;
}

.markdown code {
  margin: 0 3px;
  background: #f7f7f7;
  padding: 1px 6px;
  border-radius: 3px;
  color: #777;
  font-size: .8rem;
  border: 1px solid #e9e9e9;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown pre {
  border-radius: 6px;
  background: #f7f7f7;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.markdown pre code {
  border: none;
  background: #f7f7f7;
  margin: 0;
  font-size: 13px;
  color: #666;
  overflow: auto;
}

.markdown strong,
.markdown b {
  font-weight: 600;
}

.markdown > table {
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 100%;
  margin-bottom: 24px;
}

.markdown > table th {
  white-space: nowrap;
  color: #5C6B77;
  font-weight: 600;
}

.markdown > table th,
.markdown > table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}

.markdown > table th {
  background: #F7F7F7;
}

.markdown blockquote {
  font-size: 90%;
  color: #999;
  border-left: 4px solid #e9e9e9;
  padding-left: 0.8em;
  margin: 1em 0;
  font-style: italic;
}

.markdown blockquote p {
  margin: 0;
}

.markdown .anchor {
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 8px;
}

.markdown .waiting {
  color: #ccc;
  cursor: not-allowed;
}

.markdown a.edit-button {
  line-height: 12px;
  display: inline-block;
  margin-left: 10px;
  height: 12px;

  i {
    color: #999;

    &:hover {
      color: #2db7f5;
    }
  }

  .anticon {
    display: block;
    font-size: 14px;
  }
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  opacity: 1;
  display: inline-block;
}

.markdown > br,
.markdown > p > br {
  clear: both;
}

.markdown.api-container table {
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 13px;
}

.layout-demo,
[id^="components-layout-demo-"] {
  .demo-row,
  .code-box-demo .demo-row {
    background-image: linear-gradient(90deg, #F5F5F5 4.16666667%, transparent 4.16666667%, transparent 8.33333333%, #F5F5F5 8.33333333%, #F5F5F5 12.5%,  transparent 12.5%, transparent 16.66666667%, #F5F5F5 16.66666667%, #F5F5F5 20.83333333%, transparent 20.83333333%, transparent 25%, #F5F5F5 25%, #F5F5F5 29.16666667%, transparent 29.16666667%, transparent 33.33333333%, #F5F5F5 33.33333333%, #F5F5F5 37.5%, transparent 37.5%, transparent 41.66666667%, #F5F5F5 41.66666667%, #F5F5F5 45.83333333%, transparent 45.83333333%, transparent 50%, #F5F5F5 50%, #F5F5F5 54.16666667%, transparent 54.16666667%, transparent 58.33333333%, #F5F5F5 58.33333333%, #F5F5F5 62.5%, transparent 62.5%, transparent 66.66666667%, #F5F5F5 66.66666667%, #F5F5F5 70.83333333%,  transparent 70.83333333%, transparent 75%, #F5F5F5 75%, #F5F5F5 79.16666667%, transparent 79.16666667%, transparent 83.33333333%, #F5F5F5 83.33333333%, #F5F5F5 87.5%, transparent 87.5%, transparent 91.66666667%, #F5F5F5 91.66666667%, #F5F5F5 95.83333333%, transparent 95.83333333%);
    overflow: hidden;
  }
  .ant-row-flex,
  .code-box-demo .ant-row-flex {
    background: #F5F5F5;
  }
  .ant-row > div,
  .code-box-demo .ant-row > div,
  .ant-row-flex > div,
  .code-box-demo .ant-row-flex > div {
    padding: 5px 0;
    text-align: center;
    border-radius: 6px;
    min-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
  }
  .code-box-demo .ant-row > div:not(.gutter-row),
  .code-box-demo .ant-row-flex > div:not(.gutter-row) {
    background: #6AC2F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .ant-row .demo-col,
  .code-box-demo .ant-row .demo-col {
    text-align: center;
    padding: 40px 0;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  .ant-row .demo-col-1,
  .ant-row .demo-col-1 {
    background: rgba(29, 128, 211, 0.7);
  }
  .ant-row .demo-col-2,
  .code-box-demo .ant-row .demo-col-2 {
    background: rgba(29, 128, 211, 0.5);
  }
  .ant-row .demo-col-3,
  .code-box-demo .ant-row .demo-col-3{
    background: rgba(255, 255, 255, 0.2);
    color: #999;
  }
  .ant-row .demo-col-4,
  .code-box-demo .ant-row .demo-col-4 {
    background: rgba(29, 128, 211, 0.6);
  }
  .ant-row .demo-col-5,
  .code-box-demo .ant-row .demo-col-5 {
    background: rgba(255, 255, 255, 0.5);
    color: #999;
  }
  .code-box-demo .height-100 {
    height: 100px;
  }
  .code-box-demo .height-50 {
    height: 50px;
  }
  .code-box-demo .height-120 {
    height: 120px;
  }
  .code-box-demo .height-80 {
    height: 80px;
  }
}

// For Changelog
.markdown {
  ul.ant-timeline {
    li.ant-timeline-item {
      list-style: none;
      margin: 0;
      padding: 0 0 30px 0;
      .ant-timeline-item-content {
        font-size: 14px;
        padding-left: 32px;
        position: relative;
        top: -14px;
        > h2 {
          margin-top: 0;
          padding-top: 0.5px;
        }
      }
    }
    li.ant-timeline-item:first-child {
      margin-top: 40px;
    }
  }
}
