.motion-container {
  height: 190px;
  margin: 40px 0 20px;
  line-height: 190px;
  text-align: center;
}

.motion-example {
  display: inline-block !important;
  width: 180px;
  height: 180px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 180px;
  text-align: center;
  background: url(https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg) center/180px;
  border-radius: 8px;
  animation-duration: 0.5s !important;
}

.motion-select-wrapper {
  margin-bottom: 40px;
  text-align: center;
}

.motion-select {
  width: 180px;
  text-align: left;
}

.video-player {
  position: relative;
  max-width: 800px;
  &-right {
    float: right;
    width: 616px;
  }
}
