.nav-phone-icon {
  display: none;
  position: absolute;
  right: 30px;
  top: 32px;
  z-index: 1;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

@media only screen and (min-width: 0) and (max-width: 1280px) {
  .en-us #search-box {
    display: none;
  }
}

@media only screen and (min-width: 0) and (max-width: 1180px) {
  .zh-cn #search-box {
    display: none;
  }
}

@media only screen and (min-width: 0) and (max-width: 992px) {
  #search-box {
    display: none;
  }
  .code-boxes-col-2-1, .code-boxes-col-1-1 {
    float: none;
    width: 100%;
  }
  .preview-image-boxes {
    margin: 0!important;
    float: none;
    width: 100%;
  }
  .preview-image-box {
    padding-left: 0;
    margin: 10px 0;
  }

  a#logo {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }

  .banner-entry {
    position: relative;
    top: 30px;
    left: 0;
    text-align: center;
  }

  .image-wrapper {
    display: none;
  }

  .banner-wrapper {
    background-position: 40%;
  }

  .content-wrapper .text-wrapper {
    float: none;
    text-align: center;
    left: 0;
    width: 100%;
    padding: 0;
    > p {
      max-width: 100% !important;
      padding: 0 40px;
    }
  }

  .content-wrapper.page {
    min-height: 300px;
    height: 300px;
  }

  .banner-text-wrapper {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    .start-button {
      text-align: center;
      > a {
        margin: 0 4px;
      }
    }
    .github-btn {
      text-align: center;
      float: none;
      display: inline-block;
    }
    .line {
      display: none;
    }
  }

  button.lang {
    display: block;
    margin: 29px auto 16px;
    color: @text-color;
    border-color: @text-color;
  }

  div.version {
    display: block;
    margin: 29px auto 16px;
    & > .ant-select-selection {
      color: @text-color;
      &:not(:hover) {
        border-color: @text-color;
      }
    }
  }

  .popover-menu {
    width: 300px;
    button.lang {
      margin: 16px auto;
      float: none;
    }
    div.version {
      margin: 32px auto 16px;
      float: none;
    }
    .ant-popover-inner {
      overflow: hidden;
      &-content {
        padding: 0;
      }
    }
  }

  ul#nav,
  ul#nav li {
    width: 100%;
    font-size: 14px;
  }

  ul#nav li {
    line-height: 60px;
    height: 60px;
    padding: 0 !important;
    border: 0;
    a {
      color: #333;
    }
  }

  .toc {
    display: none;
  }

  .nav-phone-icon {
    display: block;
  }

  .nav-phone-icon:before {
    content: "";
    display: block;
    border-radius: 2px;
    width: 16px;
    height: 2px;
    background: #777;
    box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
    position: absolute;
  }

  .main {
    height: calc(100% - 86px);
  }

  .aside-container {
    float: none;
    width: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
    border-right: 0;
    margin-bottom: 30px;
  }

  .main-container {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 0;
    > .markdown > * {
      width: 100%!important;
    }
  }

  .main-wrapper {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  footer {
    text-align: center;
    ul li {
      float: none;
      width: auto;
      > h2 .anticon {
        display: none;
      }
    }
  }
}
