.toc {
  font-size: 14px;
  margin: 24px 0;
  border-left: 1px solid #e9e9e9;
  list-style: none;
}

.markdown .toc {
  background: #fbfbfb;
  border-left: 2px solid #eee;
}

.toc > ul {
  padding: 8px 0;
  list-style: none;
}

.toc > ul li {
  list-style: none;
  margin: 0;
}

.toc li > ul {
  text-indent: 8px;
  font-size: 12px;
  display: none;
}

.toc a {
  padding-left: 16px;
  display: block;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  color: @text-color;
}

.toc a:hover {
  color: @primary-color;
}

.toc a.current {
  border-color: @primary-color;
  color: @primary-color;
}

.toc-affix {
  position: absolute;
  top: 8px;
  right: 20px;
}

.demos-anchor {
  color: #aaa;
  font-size: 12px;
  margin-top: -4px;
  a {
    padding-left: 8px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
  }
}
