@import '../../style/themes/default';
@import '../../style/mixins/index';

@pageheader-prefix-cls: ~'@{ant-prefix}-pageheader';

.@{pageheader-prefix-cls} {
  .reset-component;
  padding: 16px 32px;
  background: @component-background;
  .@{pageheader-prefix-cls}-back-icon {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
  }
  .ant-divider {
    margin: 0 12px;
    height: 14px;
  }
  .ant-breadcrumb {
    margin-bottom: 12px;
  }
  .@{pageheader-prefix-cls}-title-view {
    display: inline-block;
    .@{pageheader-prefix-cls}-title {
      line-height: 24px;
      font-size: 16px;
      color: @heading-color;
      font-weight: bold;
      padding-right: 12px;
    }
    .@{pageheader-prefix-cls}-sub-title {
      font-size: 14px;
      color: @text-color-secondary;
      line-height: 22px;
      padding-right: 12px;
    }
    .@{pageheader-prefix-cls}-tags {
      vertical-align: top;
      display: inline-block;
    }
  }
  .@{pageheader-prefix-cls}-content-view {
    padding-top: 12px;
  }
}
