#banner {
    overflow: hidden;
    position: relative;
    min-height: 600px;
    background: #fff;
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.785, 0.135, 0.15, 0.86), height .5s ease-out;
    margin-top: -24px;
}

#banner section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#banner aside {
    position: absolute;
    top: 19%;
    left: 10%;
    z-index: 100;
    color: #707D8D;
    font-family: Raleway, 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', SimSun, sans-serif;
    font-weight: 300;
}
#banner h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 12px;
    text-transform: uppercase;
    width: 200px;
}
#banner p {
    color: #9ea9b4;
    font-size: 14px;
    margin-bottom: 30px;
    padding-left: 4px;
}

@img-height: 881px;
@img-width: 1628px;
#banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: @img-height;
    width: @img-width;
    margin: -@img-height/2 0 0 -@img-width/2;
}