@import "../../style/themes/default";
@import "../../style/mixins/index";

@layout-prefix-cls: ~"@{ant-prefix}-layout";

.@{layout-prefix-cls} {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
}

.@{layout-prefix-cls}-header,
.@{layout-prefix-cls}-footer {
  flex: 1 0 100%;
}

.@{layout-prefix-cls}-content {
  height: 100%;
  flex: auto;
}

.@{layout-prefix-cls}-sider {
  flex: 0 0 20%;
  transition: all .3s ease;
  position: relative;
  padding-bottom: 48px;
}

.@{layout-prefix-cls}-sider-right {
  order: 1;
}

.@{layout-prefix-cls}-sider-collapsed {
  flex: 0 0 6%;
}

.@{layout-prefix-cls}-sider-trigger {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
}