// prefix class
@css-prefix             : ant-;

// color
@primary-color          : #2db7f5;

// ------ Base & Require ------ 
@body-background        : #fff;

@font-family            : "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", Arial, sans-serif;
@code-family            : "PT Mono", Menlo, "Courier New", monospace;
@text-color             : #666;
@font-size-base         : 12px;
@line-height-base       : 1.5;

// ICONFONT
@iconfont-css-prefix    : anticon;
@icon-url               : "//at.alicdn.com/t/font_1433747417_2381783";

// LINK
@link-color             : #00abea;
@link-hover-color       : #23C0FA;
@link-hover-decoration  : none;

// Disabled cursor for form controls and buttons.
@cursor-disabled        : not-allowed;

// Animation
@fc-duration-300        : .3s;
@fc-duration-400        : .4s;
@fc-duration-500        : .5s;
@fc-duration-600        : .6s;
@fc-duration-700        : .7s;
@fc-duration-800        : .8s;
@fc-duration-900        : .9s;
@fc-duration-1000       : 1.0s;
@fc-duration-1100       : 1.1s;
@fc-duration-1200       : 1.2s;
@fc-ease-out            : cubic-bezier(0.25, 0.8, 0.25, 1);
@fc-ease-in             : cubic-bezier(0.55, 0, 0.55, 0.2);
@fc-ease-in-out         : cubic-bezier(0.35, 0, 0.25, 1);
@fc-ease-out-back       : cubic-bezier(0.18, 0.89, 0.32, 1.28);
@fc-ease-in-back        : cubic-bezier(0.6, -0.3, 0.74, 0.05);
@fc-ease-in-out-back    : cubic-bezier(0.68, -0.55, 0.27, 1.55);
@fc-ease-out-circ       : cubic-bezier(0.08, 0.82, 0.17, 1);
@fc-ease-in-circ        : cubic-bezier(0.6, 0.04, 0.98, 0.34);
@fc-ease-in-out-circ    : cubic-bezier(0.78, 0.14, 0.15, 0.86);

// BUTTONS
@btn-font-weight        : normal;

@btn-primary-color      : #fff;
@btn-primary-bg         : #2db7f5;
@btn-primary-border     : #2db7f5;

@btn-default-color      : #666;
@btn-default-bg         : #f3f5f7;
@btn-default-border     : #d9d9d9;

@btn-ghost-color        : #666;
@btn-ghost-bg           : #fff;
@btn-ghost-border       : #d9d9d9;

@btn-disable-color      : #ccc;
@btn-disable-bg         : #f3f5f7;
@btn-disable-border     : #d9d9d9;

@btn-padding-base       : 4px 15px;
@btn-border-radius-base : 14px;

@btn-font-size-lg       : 14px;
@btn-padding-lg         : 4px 15px 5px 15px;
@btn-border-radius-lg   : 16px;

@btn-padding-sm         : 1px 15px;
@btn-border-radius-sm   : 11px;

@btn-circle-size        : 28px;
@btn-circle-size-lg     : 32px;
@btn-circle-size-sm     : 22px;

@border-radius-base     : 6px;

