@import "../../style/themes/default";
@import "../../style/mixins/index";

@list-prefix-cls: ~"@{ant-prefix}-list";

.@{list-prefix-cls} {
  &-more, &-pagination {
    margin-top: 24px;
    text-align: center;
  }
  &-more {
    button {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  &-spin {
    text-align: center;
    min-height: 48px;
  }
  &-item {
    align-items: center;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    &-meta {
      align-items: center;
      display: flex;
      font-size: 0;
      &-avatar {
        flex: 0;
        margin-right: 16px;
      }
      &-content {
        flex: 1 0;
      }
      &-title {
        color: @text-color;
        margin-bottom: 4px;
        font-size: @font-size-base;
        line-height: 22px;
        a {
          color: @text-color;
          &:hover {
            color: @primary-color;
          }
        }
      }
      &-description {
        color: @text-color-secondary;
        font-size: @font-size-base;
        line-height: 22px;
      }
    }
    &-content {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
    &-action {
      font-size: 0;
      flex: 0 0 auto;
      margin-left: 48px;
      & > li {
        display: inline-block;
        color: @text-color-secondary;
        cursor: pointer;
        padding: 0 8px;
        position: relative;
        font-size: @font-size-base;
        line-height: 22px;
        text-align: center;
      }
      & > li:first-child {
        padding-left: 0;
      }
      &-split {
        background-color: @border-color-split;
        margin-top: -7px;
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 14px;
      }
    }
    &-main {
      display: flex;
      flex: 1;
    }
    &-extra {
      flex: 0;
    }
  }
}

.@{list-prefix-cls}-bordered {
  .@{list-prefix-cls}-item {
    border-bottom: 1px solid @border-color-split;
    padding-bottom: 23px;
  }
}

.@{list-prefix-cls}-vertical {
  .@{list-prefix-cls}-item {
    display: block;
    padding-bottom: 8px;
    &-extra-wrap {
      display: flex;
    }
    &-main {
      display: block;
      flex: 1;
    }
    &-extra {
      margin-left: 58px;
      flex: 0;
    }
    &-meta {
      margin-bottom: 16px;
      &-avatar {
        display: none;
      }
      &-title {
        color: @heading-color;
        margin-bottom: 12px;
        font-size: @font-size-lg;
        line-height: 24px;
      }
    }
    &-content {
      display: block;
      color: @text-color;
      font-size: @font-size-base;
      margin-bottom: 16px;
    }
    &-action {
      margin-left: auto;
      & > li {
        padding: 0 16px;
      }
      & > li:first-child {
        padding-left: 0;
      }
    }
  }
}

.@{list-prefix-cls}-grid {
  .@{list-prefix-cls}-item {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 24px;
    &-content {
      display: block;
    }
  }
}

@media screen and (max-width: @screen-md) {
  .@{list-prefix-cls} {
    &-item {
      &-action {
        margin-left: 24px;
      }
    }
  }
  .@{list-prefix-cls}-vertical {
    .@{list-prefix-cls}-item {
      &-extra {
        margin-left: 24px;
      }
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .@{list-prefix-cls} {
    &-item {
      flex-wrap: wrap;
      &-action {
        margin-left: 12px;
      }
    }
  }
  .@{list-prefix-cls}-vertical {
    .@{list-prefix-cls}-item {
      &-extra-wrap {
        flex-wrap: wrap-reverse;
      }
      &-main {
        min-width: 220px;
      }
      &-extra {
        margin-left: 0;
      }
    }
  }
}
