@import "../../style/mixins/index";

@open: "\e621";
@close: "\e645";
@doc: "\e664";

.antTreeSwitcherIcon(@type) {
  &:after {
    .iconfont-size-under-12px(8px);
    display: inline-block;
    .iconfont-font(@@type);
    font-weight: bold;
    color: @tree-icon-color;
    transition: transform .3s ease;
  }
}
