@import "../../style/mixins/index";

@tree-prefix-cls: ~"@{ant-prefix}-tree";
@tree-select-prefix-cls: ~"@{ant-prefix}-select";

.antTreeSwitcherIcon(@type: "tree-default-open-icon") {
  .@{tree-prefix-cls}-switcher-icon,
  .@{tree-select-prefix-cls}-switcher-icon {
    .iconfont-size-under-12px(7px);
    display: inline-block;
    font-weight: bold;
    svg {
      transition: transform .3s;
    }
  }
}

.antTreeShowLineIcon(@type) {
  .@{tree-prefix-cls}-switcher-icon,
  .@{tree-select-prefix-cls}-switcher-icon {
    .iconfont-size-under-12px(12px);
    display: inline-block;
    font-weight: normal;
    svg {
      transition: transform .3s;
    }
  }
}
