.design-card {
  background: rgba(0, 0, 0, 0.1);
  padding: 40px;
  line-height: 2;
  min-height: 302px;

  .design-values {
    text-align: center;

    img {
      width: 104px;
      height: 104px;
      display: block;
      margin: 0 auto 32px;
    }

    h4 {
      font-weight: normal;
    }
  }

  &.sub-card {
    padding: 0;

    .card-info {
      padding: 40px 0 32px 40px;
      display: flex;
      flex-direction: column;

      ul {
        margin-top: auto;

        li {
          margin-top: 16px;

          a {
            color: #2f54eb;
          }
        }
      }
    }
  }
}

.design-mini-panel {
  .ant-card-body {
    padding: 20px 20px 24px 20px;
  }
}
