@media (max-width: @screen-xs) {
  .@{table-prefix-cls} {
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        display: block;
        width: auto !important;
        border: none;
        &:last-child {
          border-bottom: 1px solid @border-color-split;
        }
      }
    }
  }
}
