.@{timepicker-prefix-cls}-panel-inner {
  display: inline-block;
  position: relative;
  outline: none;
  border: 1px solid @border-color-base;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  border-radius: @border-radius-base;
  box-shadow: @box-shadow-base;
  background-clip: padding-box;
  border: 1px solid #ccc;
  line-height: 1.5;
}
