.@{steps-prefix-cls}-navigation {
  padding-top: 12px;

  .@{steps-prefix-cls}-item {
    text-align: center;
    overflow: visible;

    &-container {
      display: inline-block;
      text-align: left;
      height: 100%;
      padding-bottom: 12px;

      .@{steps-prefix-cls}-item-content {
        max-width: @steps-nav-content-max-width;
      }

      .@{steps-prefix-cls}-item-title {
        padding-right: 0;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::after {
          display: none;
        }
      }
    }

    &:last-child {
      flex: 1;
      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid @steps-nav-arrow-color;
      border-bottom: none;
      border-left: none;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -14px;
      margin-left: -8px;
    }
  }

  .@{steps-prefix-cls}-item-active {
    .@{steps-prefix-cls}-item-container {
      padding-bottom: 10px;
      border-bottom: 2px solid @steps-nav-active-color;
    }
  }
}
