.@{steps-prefix-cls}-small {
  .@{steps-prefix-cls}-item-icon {
    width: @steps-small-icon-size;
    height: @steps-small-icon-size;
    line-height: @steps-small-icon-size;
    text-align: center;
    border-radius: @steps-small-icon-size;
    font-size: @font-size-base;
    margin-right: 10px;
    > .@{steps-prefix-cls}-icon {
      font-size: @font-size-base;
      font-size: ~"9px \9"; // ie8-9
      transform: scale(.75);
      top: -1px;
    }
  }
  .@{steps-prefix-cls}-item-content {
    margin-top: 0;
  }
  .@{steps-prefix-cls}-item-title {
    font-size: @font-size-base;
    margin-bottom: 4px;
    color: #666;
    font-weight: bold;
  }
  .@{steps-prefix-cls}-item-description {
    font-size: @font-size-base;
    color: @text-color-secondary;
  }
  .@{steps-prefix-cls}-item-tail {
    top: 8px;
    padding: 0 8px;
    &:after {
      height: 1px;
      border-radius: 1px;
      width: 100%;
    }
  }

  .@{steps-prefix-cls}-item-custom .@{steps-prefix-cls}-item-icon {
    width: inherit;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
    border: 0;
    background: none;
    > .@{steps-prefix-cls}-icon {
      font-size: @steps-icon-size;
      top: -2.5px;
      transform: none;
    }
  }
}
