@import '../../../../../components/style/themes/default.less';

@home-color: #0170fe;

.home-banner {
  position: relative;
  height: 448px;
  overflow: hidden;
  background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(235, 245, 255, 0.58)),
    linear-gradient(150deg, #fbfcfd, #f8fcff);

  &-holder {
    position: relative;
    z-index: 1;
    margin-top: 130px;
  }

  &-content {
    margin: 0 auto;
    padding: 0 16px;
    font-size: 16px;
    text-align: center;

    p {
      margin: 24px 0 0;
      font-weight: lighter;
    }

    .video {
      display: block;
      margin: 8px auto;
      color: @home-color;
    }

    &-operations {
      margin-top: 40px;
      white-space: nowrap;

      button {
        height: auto;
        margin: 0 8px;
        padding: 8px 24px;
        font-size: 16px;
        border-color: @home-color;

        &:hover {
          border-color: @home-color;
        }

        &.ant-btn-primary {
          background: @home-color;
        }

        &:not(.ant-btn-primary) {
          color: @home-color;
        }
      }
    }
  }
}
