.home-banner {
  height: 448px;
  position: relative;
  background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(235, 245, 255, 0.58)),
    linear-gradient(150deg, #fbfcfd, #f8fcff);

  &-content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
