.home-card-logo {
  width: 490px;
  height: 100px;
  position: relative;
  cursor: pointer;

  > img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .home-card-logo-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 336px;
    top: -20px;
  }
}
