<div class="code-box" id="{{post.meta.id|removeCodeBoxIdPrefix}}">
  <div class="code-box-demo">
    <div id="{{post.meta.id}}"></div>
    {{ post.html }}
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#{{post.meta.id|removeCodeBoxIdPrefix}}">{{ post.title }}</a>
    </div>
    {{ post.meta.description }}
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
