{% extends "page.html" %}

{% block content %}
<section class="main-container">
  <article class="markdown">
    <h1>
      {{ post.title }} {{ post.meta.chinese }}
      {%- if post.meta.API %}
      <a class="api-link" href="http://{{ post.meta.API }}" target="_blank">
        <i class="anticon anticon-link"></i>
        API 使用说明
      </a>
      {%- endif %}
    </h1>
    {{ post.html|add_anchor }}
  </article>
  {%- include "demos.html" %}
  <div class="api-container markdown"></div>
</section>
{% endblock %}
