{%- set items = resource.pages|find_demo_in_component(post.meta.directory) %}
{%- if items.length > 0 %}
<h2 class="component-demos">
  代码演示
  <i class="anticon anticon-appstore icon-all" title="展开全部代码"></i>
  {%- if post.meta.sketch %}
  <a class="sketch-link" href="{{ post.meta.sketch }}" target="_blank">
    <i class="anticon anticon-download"></i>
    Sketch 下载
  </a>
  {%- endif %}
</h2>
<div class="code-boxes">
  {%- if post.meta.cols == 1 %}
    <div class="code-boxes-col-1-1">
      {%- for item in items %}
      {%- set post = item.meta.filepath|parsePost %}
      {%- include "code.html" %}
      {%- endfor %}
    </div>
  {%- else %}
  <div class="code-boxes-col-2-1">
    {%- for item in items|odd %}
    {%- set post = item.meta.filepath|parsePost %}
    {%- include "code.html" %}
    {%- endfor %}
  </div>
  <div class="code-boxes-col-2-1">
    {%- for item in items|even %}
    {%- set post = item.meta.filepath|parsePost %}
    {%- include "code.html" %}
    {%- endfor %}
  </div>
  {%- endif %}
</div>
<ul class="demos-anchor">
  {%- for item in items %}
  {%- set post = item.meta.filepath|parsePost %}
  <li>
    <a title="{{ post.title }}" href="#{{post.meta.id|removeCodeBoxIdPrefix}}">
      <span>{{ post.title }}</span>
    </a>
  </li>
  {%- endfor %}
</ul>
{%- endif %}
