<footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="{{ config.site.repo }}">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/ant-design/tree/master/style">样式</a>
      <a target="_blank" href="https://github.com/ant-tool/xtool">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="https://github.com/ant-ued/blog">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="{{ config.site.issues }}">反馈和建议</a>
      <a target="_blank" href="https://gitter.im/ant-design/ant-design">讨论</a>
      <a target="_blank" href="http://dwz.cn/2dJ2mg">报告 Bug</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
      <h3>文档版本：<span id="versions-select"></span></h3>
    </li>
  </ul>
</footer>
