{% extends "layout.html" %}

{% block styles %}
<link href="http://fonts.useso.com/css?family=Raleway:600,500,400,300" rel="stylesheet" type="text/css">
{% endblock %}

{% block bodyAttribute %}class="index-page"{% endblock %}

{% block content %}
<div class="main-box" id="main">
  <div class="banner-box">
    <div id="bannerAnim"></div>
    <div class="banner-entry fn-hide">
      <div class="entry-title">Ant</div>
      <div class="entry-title">Design</div>
      <div class="entry-slogan">
        {{ config.site.description }}
      </div>
      <a class="entry-link" href="{{static_url('../spec/introduce')}}">
        <i class="anticon anticon-smile"></i>
        开始探索
      </a>
    </div>
    <div class="banner-img fn-alpha-out"></div>
  </div>
</div>
<script src="{{static_url('homeLoad.js')}}"></script>
<style>
.main-wrapper {
  overflow: hidden;
  position: relative;
  height: calc(100% - 190px);
  min-height: 500px;
  background: #fff;
  transform-style: preserve-3d;
  transition: transform .6s cubic-bezier(0.785, 0.135, 0.15, 0.86), height .5s ease-out;
}
</style>
{% endblock %}
