{% extends "layout.html" %}

{% block bodyAttribute %}class="index-page"{% endblock %}

{% block content %}
<div id="list"></div>
<section id="banner"></section>
<section id="page1" class="page"></section>
<section id="page2" class="page"></section>
<section id="page3" class="page"></section>
<section id="page4" class="page"></section>
<style>
  .main-wrapper {
    background: transparent;
    width: auto;
    margin: 0;
    border-radius: 0;
    padding: 0;
    overflow: unset;
    display: inline;
    min-height: 600px;
  }

  #home-page,
  #home-page > div {
    height: 100%;
  }

  header {
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid transparent;
    transition: border .5s cubic-bezier(0.455, 0.03, 0.515, 0.955), background .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  header .nav ul li a {
    color: #eee;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    header .nav ul li a {
      color: #666;
    }
  }

  .nav-phone-icon:before {
    background: #eee;
    box-shadow: 0 7px 0 0 #eee, 0 14px 0 0 #eee;
  }

  .nav ul li a {
    transition: color 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .search {
    border-left-color: rgba(235, 237, 238, .5);
    transition: border 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .search #autoComplete .ant-select-selection {
    background: transparent;
  }

  #banner {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("https://os.alipayobjects.com/rmsportal/GhjqstwSgxBXrZS.png") no-repeat center / cover;
  }

  .banner-text-wrapper {
    position: absolute;
    left: 10%;
    top: 55%;
    color: #fff;
    text-align: right;
  }

  header.home-nav-bottom {
    background: rgba(255, 255, 255, 0.9);
    border-bottom-color: #EBEDEE;
  }

  .home-nav-bottom .search {
    border-left-color: #EBEDEE;
  }

  .home-nav-bottom .nav a {
    color: #666;
  }

  .banner-text-wrapper h2 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Raleway';
  }

  .banner-text-wrapper h2 p {
    color: #FF3171;
    display: inline-block;
  }

  .banner-text-wrapper .line {
    width: 0.8px;
    height: 76px;
    position: absolute;
    background: rgba(255, 255, 255, .44);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.03));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.03));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.03));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.03));
    top: 16px;
    right: -25px;
  }

  .banner-text-wrapper > p {
    margin: 10px auto 24px;
    font-size: 16px;
  }

  .banner-text-wrapper .start-button {
    margin-bottom: 24px;
  }

  .banner-text-wrapper .start-button a {
    width: 155px;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #2db7f5;
    color: #2db7f5;
    font-size: 18px;
    background: transparent;
    transition: box-shadow .45s ease-out;
    text-align: center;
    line-height: 42px;
    display: inline-block;
  }

  .banner-text-wrapper iframe {
    border: 0;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  .banner-text-wrapper iframe:hover {
    opacity: 1;
  }

  .banner-text-wrapper a:hover {
    box-shadow: 0 0 10px #2db7f5;
  }

  .banner-text-wrapper a span {
    margin-left: 15px;
  }

  .down {
    text-align: center;
    position: absolute;
    bottom: 30px;
    color: rgba(255, 255, 255, .75);
    left: 50%;
    margin-left: -7px;
  }

  section {
    height: 100%;
    width: 100%;
    background: #fff;
  }

  .page {
    min-height: 700px;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1850px;
    margin: auto;
    overflow: hidden;
  }

  .content-wrapper .image-wrapper {
    width: 65%;
    float: left;
    position: relative;
  }

  .image1 {
    background: url("https://t.alipayobjects.com/images/T1Ch8kXfpdXXXXXXXX.png") no-repeat right / 841px;
    height: 511px;
    top: 50%;
    margin-top: -256px;
  }

  .image2 {
    background: url("https://t.alipayobjects.com/images/T1r5RkXotXXXXXXXXX.png") no-repeat left / 800px;
    height: 474px;
    top: 50%;
    margin-top: -266px;
  }

  .image3 {
    padding-right: 10%;
    background: url("https://t.alipayobjects.com/images/T1nx0kXdFfXXXXXXXX.png") no-repeat right / 639px;
    background-origin: content-box;
    height: 500px;
    top: 50%;
    margin-top: -250px;
  }

  .image4 {
    background: url("https://t.alipayobjects.com/images/T1lyJkXg4aXXXXXXXX.png") no-repeat center / 615px;
    height: 364px;
    margin: auto;
  }

  .content-wrapper .text-wrapper {
    width: 35%;
    float: left;
    position: relative;
    top: 20%;
    left: 10px;
  }

  .content-wrapper .text-wrapper h2,
  .content-wrapper .text-wrapper-bottom h2 {
    font-size: 32px;
    color: #666;
    font-weight: normal;
  }

  .content-wrapper .text-wrapper p {
    margin: 10px 0 20px;
    font-size: 16px;
    line-height: 28px;
    color: #999999;
  }

  .content-wrapper .left-text {
    padding-left: 10%;
  }

  .text-wrapper-bottom {
    text-align: center;
    margin: 10% auto 40px;
  }

  .text-wrapper-bottom p {
    margin: 20px auto;
    font-size: 16px;
    line-height: 28px;
    color: #999;
  }

  #footer {
    background: #000;
  }

  .anticon-right {
    transform: scale(0.6);
  }

  footer,
  footer ul li > h2 {
    color: #999;
  }

  footer ul li > a {
    color: #eee;
  }

  #list {
    position: fixed;
    z-index: 9998;
    top: 50%;
    right: 20px;
    width: 6px;
    margin-top: -35px;
  }

  .list-point {
    width: 6px;
    height: 6px;
    background: #00AAEE;
    border-radius: 6px;
    float: left;
    margin: 4px auto;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .3s;
  }

  .list-point:hover, .list-point.active {
    opacity: 1;
  }
</style>
{% endblock %}
