<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{{ config.site.description }}"/>
    <title>{% block title %}{{ config.site.name }} - {{ config.site.description }}{% endblock %}</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{static_url('../dist/demo.css')}}">
    <link rel="stylesheet" href="{{static_url('style.css')}}">
    <link rel="stylesheet" href="{{static_url('tomorrow.css')}}">
    <!--[if IE 8]>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1q8JiXftaXXXXXXXX.js"></script>
    <![endif]-->
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.1.14/es5-shim.min.js,es5-shim/4.1.14/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      {%- for item in resource.pages|find_category(["CSS","Components"]) %}
      ANT_COMPONENTS.push({
        title: '{{item.title}}',
        desc: '{{item.meta.chinese}}'
      });
      {%- endfor %}
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script src="{{static_url('script.js')}}"></script>
    <script>
      window.antdVersion = {
        latest: '{{config.package.version}}',
        stable: '{{config.package.stableVersion}}'
      };
    </script>
    <script src="{{static_url('../dist/demo.js')}}"></script>
    <script src="https://t.alipayobjects.com/images/T1DrxhXe0mXXXXXXXX.js"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body {% block bodyAttribute %}{% endblock %}>
    <header id="header" class="clearfix">
      <a class="logo" href="{{static_url('../')}}">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        {{ config.site.name }}
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <div class="global-hint">
        0.11 已发布，0.10 文档请访问 <a href="http://010x.ant.design/">010x.ant.design</a>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="{%- if post.meta.filepath === 'README.md' %}current{%- endif %}">
            <a href="{{static_url('../')}}" data-no-instant>首页</a>
          </li>
          <li class="{%- if post.directory|rootDirectoryIn(['spec']) %}current{%- endif %}">
            <a href="{{static_url('../spec/introduce')}}">设计</a>
          </li>
          <li class="{%- if post.directory|rootDirectoryIn(['docs','components']) %}current{%- endif %}">
            <a href="{{static_url('../docs/introduce')}}">React UI</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      {% block aside %}{% endblock %} {% block content %}{% endblock %}
    </div>
    {%- include "footer.html" %}
    <script src="https://t.alipayobjects.com/images/rmsweb/T1AmXhXg0kXXXXXXXX.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>
