<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>{% block title %}{{ config.site.name }} - {{ config.site.description }}{% endblock %}</title>
  <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
  <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
  <link href="http://fonts.useso.com/css?family=Raleway:600,500,400,300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/normalize.css">
  {% block styles %}{% endblock %}
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tomorrow.css">
  <script>
    (function (con) {
      'use strict';
      var prop, method;
      var empty = {};
      var dummy = function () {};
      var properties = 'memory'.split(',');
      var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
                     'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
                     'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
      while (prop = properties.pop()) {
        con[prop] = con[prop] || empty;
      }
      while (method = methods.pop()) {
        con[method] = con[method] || dummy;
      }
    })(this.console = this.console || {});
  </script>
  <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js,es5-shim/4.0.5/es5-shim-debug.js,es5-shim/4.0.5/es5-sham-debug.js,html5shiv/3.7.2/src/html5shiv.js,react/0.13.3/react.js,react-router/0.13.3/ReactRouter.js"></script>
  <script src="/static/script.js"></script>
  <script>
    window.antdVersion = {
      latest: '{{config.package.version}}',
      stable: '{{config.package.stableVersion}}'
    };
  </script>
  {% block scripts %}{% endblock %}
</head>
<body {% block bodyAttribute %}{% endblock %}>
  <header id="header">
    <a class="logo" href="/">
      <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg"> {{ config.site.name }}
    </a>
    <div class="search">
      <form>
        <input type="text" placeholder="search">
        <button type="submit"></button>
      </form>
    </div>
    <nav class="nav">
      <span class="bar"></span>
      <ul>
        <li class="{%- if post.meta.filepath === 'README.md' %}current{%- endif %}">
          <a href="/">首页</a>
        </li>
        <li class="{%- if post.directory|rootDirectoryIs('docs') %}current{%- endif %}">
          <a href="/docs/introduce">使用</a>
        </li>
        <li class="{%- if post.directory|rootDirectoryIs('design') %}current{%- endif %}">
          <a class="disabled" href="/design/">设计</a>
        </li>
        <li class="{%- if post.directory|rootDirectoryIs('components') %}current{%- endif %}">
          <a href="/components">组件</a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="main-wrapper">
    {% block aside %}{% endblock %} {% block content %}{% endblock %}
  </div>
  {%- include "footer.html" %}
</body>
</html>
