<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{{ config.site.description }}"/>
    <title>{% block title %}{{ config.site.name }} - {{ config.site.description }}{% endblock %}</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{static_url(config.antdCssUrl)}}">
    <link rel="stylesheet" href="{{static_url('style.css')}}">
    <link rel="stylesheet" href="{{static_url('tomorrow.css')}}">
    <script>
      (function (con) {
        'use strict';
        var prop, method;
        var empty = {};
        var dummy = function () {
        };
        var properties = 'memory'.split(',');
        var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
                       'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
                       'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
        while (prop = properties.pop()) {
          con[prop] = con[prop] || empty;
        }
        while (method = methods.pop()) {
          con[method] = con[method] || dummy;
        }
      })(this.console = this.console || {});
    </script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js,es5-shim/4.1.10/es5-shim.js,es5-shim/4.1.10/es5-sham.js,html5shiv/3.7.2/src/html5shiv.js,react/0.13.3/react.js"></script>
    <script>
      var ANT_COMPONENTS = [];
      var InstantClickChangeFns = [];
      {%- for item in resource.pages|find_category(["CSS","Components"]) %}
      ANT_COMPONENTS.push({
        title: '{{item.title}}',
        desc: '{{item.meta.chinese}}'
      });
      {%- endfor %}
    </script>
    <script src="{{static_url('script.js')}}"></script>
    <script>
      window.antdVersion = {
        latest: '{{config.package.version}}',
        stable: '{{config.package.stableVersion}}'
      };
    </script>
    <script src="{{static_url(config.antdJsUrl)}}"></script>
    <script src="{{static_url('../dist/demo.js')}}"></script>
    <script>
      window.require = function (path) {
        var result = window;
        var namespaces = path.split('/');
        namespaces.forEach(function (key, i) {
          if (i !== 0 && i === namespaces.length - 1) {
            key = capitalizeFirstLetter(key);
          }
          if (key !== 'lib') {
            if (result[key]) {
              result = result[key];
            } else {
              throw 'There should not have modules here 2.';
            }
          }
        });
        function capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
        }

        return result;
      };
    </script>
    {% block scripts %}{% endblock %}
  </head>
  <body {% block bodyAttribute %}{% endblock %}>
    <header id="header" class="clearfix">
      <a class="logo" href="/">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        {{ config.site.name }}
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="{%- if post.meta.filepath === 'README.md' %}current{%- endif %}">
            <a href="{{static_url('../')}}" data-no-instant>首页</a>
          </li>
          <li class="{%- if post.directory|rootDirectoryIn(['spec']) %}current{%- endif %}">
            <a href="{{static_url('../spec/introduce')}}">设计</a>
          </li>
          <li>
            <a class="nav-link-disabled" href="">案例</a>
          </li>
          <li class="{%- if post.directory|rootDirectoryIn(['docs','components']) %}current{%- endif %}">
            <a href="{{static_url('../docs/introduce')}}">React</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      {% block aside %}{% endblock %} {% block content %}{% endblock %}
    </div>
    {%- include "footer.html" %}
    <script src="https://t.alipayobjects.com/images/rmsweb/T1AmXhXg0kXXXXXXXX.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>
