{% extends "layout.html" %}

{% block title %}
{%- if post.title !== config.site.name %}
{{post.title}} {{ post.meta.chinese }} - {{config.site.name}}
{%- else %}
{{ config.site.name }} - {{ config.site.description }}
{%- endif %}
{% endblock %}

{% block description %}{% if post.summay %}{{post.summary}}{% endif %}{% endblock %}

{% block aside %}
{%- include "aside.html" %}
{% endblock %}

{% block content %}
<section class="main-container">
  <article class="markdown">
    <h1>{{ post.title }} {{ post.meta.chinese }}</h1>
    {{ post.html|add_anchor }}
  </article>
</section>
{% endblock %}

