name: Automatic Merge by label
on:
  pull_request:
    types:
      - labeled
  check_suite:
    types:
      - completed
jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == 'ant-design/ant-design' && (github.event.pull_request.head.ref == 'master' || github.event.pull_request.head.ref == 'feature')
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.12.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "BranchAutoMerge"
          MERGE_REMOVE_LABELS: "BranchAutoMerge"